[2017-07-17 16:57] fengsongAWS commented on #136
Right now, the preferable method on browser environment is through mqtt over webscoket. You can either use cognito or IAM credentials.

Thanks,
Fengyi

[2017-07-18 04:08] 0xc0d3r commented on #136
@fengsongAWS
Do you guys have road map for this feature?

[2017-07-18 17:03] fengsongAWS commented on #136
Hi @0xc0d3r ,
This is usually not a recommended way of hardcode certs and keys in browser environment so that we have cognito service for mobile and web developers. We will look into this and collect more customers data about this feature request. Meanwhile, if you have anything that helpful on this, please feel free to submit a pull request.

Thanks for your interest in AWS IoT Device SDK.

[2017-07-19 05:26] 0xc0d3r commented on #136
Thanks for the reply @fengsongAWS

Actually we are not hardcoding the certs and keys at client side. We will get them from our backend server when the user login. Our use case is like for every user we will have publish and subscribe topics and we'd to like to achieve topic authorisation and restriction. Based on the clientId we are differentiating the multiple logins of the same user in different

[2017-07-19 17:10] fengsongAWS commented on #136
You could also achieve that by using cognito where you create user pools with different authorized roles which has different permissions.

Or you could try with buffer.js and modify the SDK code to take buffer instead of using fs.

[2017-07-20 07:15] 0xc0d3r commented on #136
Thanks for the reply @fengsongAWS

For now, I am implementing with Cognito poolId.

[2017-07-23 22:26] Chucktheduck404 opened #137 "Uses code for a project"
Im working on a self watering plant system. Link here https://www.hackster.io/demirhanaydin/waterpi-houseplant-remote-watering-and-monitoring-system-340400. I followed all the steps and have modifed the code slightly for my lcd to work. I keep running into this error and I'm not sure how to fix it. Any help would be appreciated.

events.js:141
throw er; // Unhandled 'error' event
^

Error: getaddr

[2017-07-24 16:56] fengsongAWS commented on #137
This error is caused by node js cannot find the correct host.
Could you first checkout if you can run the sample successfully with your certs and CA? This is to make sure we have the correct configuration for your local devices connection to AWS IoT.
Secondly, another cause of this could be your internet is not stable and this error is not properly cached. You can refer to this https://github.com/

[2017-07-24 19:28] Chucktheduck404 commented on #137
Thanks I tried your fix but i'm still having a problem connecting to the host. https://github.com/demirhanaydin/waterpi-node/blob/master/device.js#L4-L7. Here are the lines I updated the paths are all correct but im guessing theres something that i need to do with my host. I didn't put the http in as that is a problem for some.

[2017-07-24 20:01] fengsongAWS commented on #137
How often do you experience this problem? Are you always seeing this issue each time you connect to IoT? Normally, you do need to care about http prefix. Did you successfully run the sample?
BTW, I saw the port you are trying to connect is 883. Is this a copy paste error or you are connecting to the wrong port which is supposed to be 8883.
As I mentioned before, this could possibly due to the flak

[2017-07-24 20:36] Chucktheduck404 commented on #137
I experience the problem every time that i try to connect one time yesterday it worked briefly and then threw the error but this was before I added the code. The port i'm using is 8883. It is probably an issue with my wifi because i implanted a static ip that may not be working to well but I can ping google. I also haven't tried to run the sample yet. I will attempt that next. The error also throw

[2017-07-24 20:52] fengsongAWS commented on #137
I would suggest try running the sample within the same environment and see if you still have issues. Sometimes misconfiguration like region, host, port number could also cause the similar problem.
Then I would suggest to try with a different network environment both for the sample and your project to see if the error persists.
If this is due to the network problem, you can catch the error and do s

[2017-08-07 06:55] JAPDD opened #138 "Lambda Function to Connect to AWS IoT and Publish MQTT Messages"
Hi i want to publish an MQTT message, I want to receive these published messages on a raspberry Pi which is connected to the thing as well, and subscribed to the same topic.

I am able to publish MQTT message from my device to AWS IOT with the same code .But while doing through lambda function i got the error.

Step 1. index.js

var awsIot = require('aws-iot-device-sdk');

var device = awsIot.devi

[2017-08-07 17:12] fengsongAWS commented on #138
It seems you have invalid key path. Are you using the relative path in your device option configuration?

Another thing to note is that mqtt is long live connection so it is not a recommended way to use it in lambda function. You can still do pub but the connection will lose once lambda function dies.

Thanks for you interest in AWS IoT Device SDK.

[2017-08-07 20:29] fengsongAWS commented on #123
Please feel free to reopen it when you have more questions.

[2017-08-07 20:29] #123 closed

[2017-08-08 08:17] JAPDD commented on #138
Hi all,

I want to control my camera from my application .I want to use AWS IOT for
that.

I want to do that in following way:

1. Create an Application on EC2

2. Call the Rest API from the Application to API gateway.

3. API gate way will invoke Lambda function and MQTT message will send to
AWS IOT thing.

4. AWS IOT thing should be connected to my Raspberry PI and Camera .

Can you suggest me w

[2017-08-08 17:03] fengsongAWS commented on #138
Based on your description, it seems to be a typical use case of AWS IoT. You can definitely do 1-3 as described. I am assuming you are running iot device SDK on Raspberry Pi. So, you can subscribe a topic and receive messages published from your lambda function.

In this case, you do not need to use iot device sdk in lambda. Instead, you could use AWS SDK which is a HTTP based SDK as you do not ca

[2017-08-08 18:19] groteworld commented on #138
@JAPDD, in your lambda you may find it easier to use [aws-sdk](https://github.com/aws/aws-sdk-js) and it's [IotData](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/IotData.html) class. If in a lambda, it could use the `aws-sdk` and aws credentials built into the container. This avoids the need for x509 certs that `aws-iot-device-sdk` requires.

While it could be used in the lambda, this is

[2017-08-09 11:02] olgeorge opened #139 "Bug report: Can Connect/Subscribe but not Publish (auth with Cognito)"
I am using Cognito identity pool together with Cognito user pool to authenticate my users. Both policies attached to the identity pool as well as each identity allow broad connect, subscribe, receive and publish. I'm able to connect to IoT with authenticated identities as well as subscribe to a topic and receive messages on it (published by AWS console). Moreover, I'm able to successfully use fine

[2017-08-09 14:26] olgeorge commented on #139
I've found the problem. The `publish` method expects a string, not an object. The following line fixes it:
[code]

I'm still leaving this issue open as a suggestion to add proper input validation and error messages inside the SDK. Afaik the client would disconnect when an unauthorized publish action is attempted, which adds confusion to finding the the source of the bug.

[2017-08-11 07:21] mattmeye commented on #88
I have the same error - and i'm not behind a proxy.

{ clientId: 'xxx',
  clientCert: <Buffer 2d 2d 2d 2d 2d 42 45 47 49 4e 20 43 45 52 54 49 46 49 43 41 54 45 2d 2d 2d 2d 2d 0a 4d 49 49 44 57 6a 43 43 41 6b 4b 67 41 77 49 42 41 67 49 56 41 49 ... >,
  privateKey: <Buffer 2d 2d 2d 2d 2d 42 45 47 49 4e 20 52 53 41 20 50 52 49 56 41 54 45 20 4b 45 59 2d 2d 2d 2d 2d 0a 4d 49 49 45 70 41 49 42 41 41 4

[2017-08-12 01:15] Tin-Man-Dylan commented on #130
This was helpful to me, and I guess now it also starts a reconnect sequence as can be seen in here https://github.com/aws/aws-iot-device-sdk-js/blob/master/device/index.js . However one thing that I found this doesn't solve is if when first starting your program that you do not have internet connectivity. For me it gave me the exact same error as originally presented here.

`
Error: getaddrinfo EN

[2017-08-14 11:10] JAPDD commented on #138
@Blake Thanks for your reply.Can you provide me a small example.How can i
use aws-sdk device using  Iotdata class.

Thank you

On Wed, Aug 9, 2017 at 3:19 AM, Blake Grotewold <notifications@github.com>
wrote:

[2017-08-14 16:35] groteworld commented on #138
Here is a simple example of this. This won't cover your full use case above. but showcases a minimal  usage of IotData instead of the device sdk. Where this device sdk is arguably better suited for an actual thing that, while out in the wilderness, needs a better security.

https://gist.github.com/groteworld/af0577ea5c59e98843ef47325407da71

[2017-08-16 16:51] Tin-Man-Dylan opened #140 "Event Emitters Not Working"
This is from a comment in another issue, where I provided some solution and information as well as a new question. Moving it here so it will be seen. The old question is here https://github.com/aws/aws-iot-device-sdk-js/issues/130 , it gives background to why I am asking this question.

My question is about event emitters, as seen in my post in the [other issue](https://github.com/aws/aws-iot-devi

[2017-08-17 01:27] ambientlight commented on #86
@MattyK14 Thanks a lot for the snippet. After some tweaks it did work for me.

[2017-08-17 14:10] SanyasiraoM commented on #86
@ambientlight @MattyK14 Any work around for make the socket connection alive when app is in the closed state[Android react native app].

[2017-08-18 10:09] mattmeye opened #141 "Feature-Vote: Websockets with Certificate authentication"
Hello,

i would be glad if you can enable it to authorize with Websockets via certificates and without AccesKey / SecretKey.

[2017-08-18 18:27] Tin-Man-Dylan commented on #140
So I tried it again and it doesn't seem to work, though one time right when i reconnected it seemed to do the offline-close-reconnect sequence once. what I am doing for all the events is this:

`
device.on('offline', function() {
        console.log("offline");//not currently working other than if no connection at start
});
device.on('close', function() {
        console.log("closed");//not curren

[2017-08-21 08:45] MohammedSiddiqui10p opened #142 "Issue in mqtt v2.2.1 'const' keyword"
This version of mqtt.js had a bug where it used 'const' to declare a variable.
https://github.com/mqttjs/MQTT.js/blob/v2.2.1/lib/connect/index.js#L100

It seems to have been resolved in v2.3.1
https://github.com/mqttjs/MQTT.js/blob/v2.3.1/lib/connect/index.js#L100

The problem came up when I added this package to our project, which uses webpack to bundle and manage the files. Since we exclude node

[2017-08-21 19:30] fengsongAWS commented on #142
Hi @MohammedSiddiqui10p ，
Thanks for your interest in AWS IoT Device SDK. We will update to a newer version of mqtt in the future release.

Thanks

[2017-08-22 05:19] MohammedSiddiqui10p commented on #142
Looking forward to it !

[2017-08-22 16:48] fengsongAWS commented on #140
What sequence did you see?
When I run the example in this directory https://github.com/aws/aws-iot-device-sdk-js/blob/master/examples/device-example.js, it the sequence is what I saw before.

The device does not expose connected and reconnecting attributes so that's why it shows undefined.

[2017-08-22 16:50] fengsongAWS commented on #141
Hi @mattmeye ,

Thanks for your interest in aws-iot-device-sdk-js. Can you elaborate more about your use case why do you want to do authorization in websockets via certs?

[2017-08-22 17:04] fengsongAWS commented on #139
Hi @olgeorge ,
Thanks for your interest in aws-iot-device-sdk-js. It is good to see your problem was resolved. We will take this in our backlog.

[2017-08-23 08:41] anskotid opened #143 "Uncaught (in promise) TypeError: Cannot set property 'needReadable' of undefined"
I use the browser examples for mqtt-explore and temperature-monitor and in both cases, when I call **AWSIoTData.thingShadow()** or **AWSIoTData.device()** I get this error. I have been trying to solve this for two days but didn't manage to.

[2017-08-23 09:27] #143 closed

[2017-08-28 16:46] fengsongAWS commented on #138
Hi,

For AWS SDK in node.js. You can refer to following link.
https://aws.amazon.com/sdk-for-node-js/

[2017-08-30 15:28] AirCycler opened #144 "ACK from AWS-IoT device gateway to Nodejs server for each message"
I have a device(client), that has subscribed to a topic "xyz". I am publishing a message using awsIot.device class on the topic from NodeJs server with QoS:1. How can I get the ACK(acknowledgement) from the client to the Node Js server for that message when it reaches the client? Is it possible? Do I have to write any rules or any specific callback functions?

[2017-09-01 17:12] fengsongAWS commented on #144
Hi @AirCycler ,
Thanks for your interest in aws-iot-device-sdk-js.
The puback is handled by mqtt.js underlayer e.g. https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L932
The SDK does not handle the ack packet.

[2017-09-05 15:33] AirCycler commented on #144
Would you please suggest me then what do you want me to do to get the "puback" ? I mean a hint to write the code. I am new to this stuff.

[2017-09-05 16:48] fengsongAWS commented on #144
Hi @AirCycler ,
Could you elaborate your use case? Do you want the pub ack from client or server side?

[2017-09-05 17:00] AirCycler commented on #144
Hi,
I am publishing a message from Nodejs server using AWSIoT.device class to ESP8266 wifi module which is a client, coded in arduino. Now I would like to get the PUBACK from ESP module to Nodejs server when it is received. I am using websockets and mqtt layers in ESP8266 by providing AWS IoT details. So, I need confirmation from the client. I will have a lot of clients and I am using unique sub a

[2017-09-06 01:23] develpr opened #145 "Should the `thing-example.js` thing be setting the "reported" state instead of "desired"?"
I'm still wrapping my head around the intended use of `reported` vs `desired`, but based on my current understanding the `desired` state is basically "Thing, I would like you to change your state to this new state" - i.e. in the example of a remote IoT lightbulb and a phone app, the phone app would set the `desired` state of the thing to tell the light that it should go to that state.

The `report

[2017-09-06 02:14] groteworld commented on #145
I think you are just missing a small part of a thing shadow's document which is the `delta`. If the `reported` doesn't match the `desired` a `delta` is create that states the desired. A thing can then handle changing to that missing `desired` state.

Example:

[code]

Here the shadow is stating there is a desired change, `delta`, and it will remain there until the `reported` state returns the same

[2017-09-06 20:41] liuszeng commented on #145
Hi @develpr ,

Thank you very much for your interest in AWS IoT.

Thanks to @groteworld 's explanation. You can actually think about the following model:
1. You have a device with a light and a physical light controller on it.
2. You have a application that you would like to use to control that device light.
3. Both the device and your application runs AWS IoT Device SDKs, communicating with each

[2017-09-06 22:10] id-mitchell commented on #145
Thank you @groteworld and @liuszeng for your response!

I THINK that your comment @liuszeng is inline with my understanding, but actually this is why I opened the issue. Your comment says:

but if you look in the `thing-example.js` example, when the device connects it runs this:

[code]

[2017-09-06 22:24] develpr commented on #145
Thank you @groteworld and @liuszeng for your response!

I THINK that your comment @liuszeng is inline with my understanding, but actually this is why I opened the issue. Your comment says (emphasis mine!):

but if you look in the `thing-example.js` example, when the device connects it runs this:

[code]

So this is what happens when the *device* (i.e. the "light" in our example) connects to AWS Io

[2017-09-07 05:52] mveera21 opened #146 "The security token included in the request is invalid. - Lambda - IOT"
Hi,

We are on AWS IOT, and I've setup everything 3 weeks ago.
It's been working great since I set up, but it failed today with the following error.

I haven't changed any policies, and no one else has access to my account.

Benefit  of doubt, I attached "IOT full access" policy t my Lambda rule, but it's still failing.

**Error:**
2017-09-07T05:43:22.249Z	734caa95-938f-11e7-87af-5350e6ad1d43	{ Fo

[2017-09-07 06:08] groteworld commented on #146
Hi @mveera21,

The error you are getting here seems to be coming from [aws/aws-sdk](https://github.com/aws/aws-sdk-js), not from this repository, which is the AWS IoT Device SDK. That said, I'll try to help still. 😄 This issue typically happens when using AWS Credentials (AccessKey and SecretKey) that are invalid. I would check that the lambda is using valid credentials still.

Hope that helps!

[2017-09-07 06:13] mveera21 commented on #146
Thanks for your response! I'm testing my lambda function through AWS console only. My lambda function is publishing message using IOT. When I tried from IOT console, it still works fine. I hit this issue only when I try to run it from Lambda function. And everything worked till last yesterday.

Any clues?

Thank you!

[2017-09-07 06:23] mveera21 commented on #146
Lambda function is getting kicked off fine, and it prints logs when I test form the AWS console or outside AWS console( My App), but it's failing only when lambda function tries to publish IOT message which was working fine till yesterday. By the way AWS has very good support on testing in the consoles. This feature is very helpful to debug issues.

[2017-09-07 06:29] groteworld commented on #146
Based off of the information I've seen here, it definitely sounds like the credentials your lambda is using are not valid to connect through [aws/aws-sdk-js](https://github.com/aws/aws-sdk-js) to AWS IoT.

Do you allow the lambda to determine its credentials, or do you have them in environment variables or hard coded?

The gist below is an example I made using [aws/aws-sdk-js](https://github.com/a

[2017-09-07 07:07] mveera21 commented on #146
Thank you @groteworld for your initial analysis.  I'm leaving lambda to determine its credentials, and I've not hard coded any keys. It's been working great till yesterday. Without any changes, it's broken today. My lambda function writes/reads DynamoDb and publishes messages to IOT. Everything was working for the past few weeks, and only IOT is broken today. Writing and reading to DB are working

[2017-09-07 13:36] AirCycler commented on #144
Hi,

Your assumption is right. I have two clients. I can do like you said, but is it an efficient way to do sending confirmation like that?

[2017-09-07 17:58] #146 closed

[2017-09-07 18:07] liuszeng commented on #144
Hi @AirCycler ,

Thanks for your confirmation.

What you really need here is the support of QoS2 from MQTT spec (section 4.3.3 QoS 2: Exactly once delivery):
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html

To get similar outcome, one possible work-around is to use redundant topic/subscription/publish to have the subscriber notify the publisher about the reception.

Thanks,
Lius

[2017-09-07 18:31] liuszeng commented on #145
Hi @develpr ,

Thank you very much for the information.

The `thing-example.js` is actually demonstrating the messaging flow for 2 clients updating the same cloud shadow documentation, where notifications can be sent via shadow delta messages. As per sample description:

// AWS IoT service.  The remote thing will be a dimmable color lamp, where
// the individual RGB channels can be set to an inten

[2017-09-07 18:33] #138 closed

[2017-09-07 19:10] AirCycler commented on #144
Hi,
I should receive the ACK with in certain time interval, if not I don't want the message in queue anymore. Is there any possible way to get the ACK from AWIoT server if the case is QOS1 only if it supports?

If there is nothing of a better solution, I will go for redundancy solution then.

Would Life cycle Events help in this case?

Thanks,
Anusha

[2017-09-07 23:11] liuszeng commented on #144
Hi @AirCycler ,

When the client does a QoS1 publish to the server, the server will reply with a PUBACK. In Node.js SDK, specifically, the PUBACK tracing is provided by the underneath MQTT.js module. On a QoS1 publish, the specified callback will be invoke upon the reception of a PUBACK. Details can be found in the MQTT.js source:
https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L392
ht

[2017-09-08 17:04] AirCycler commented on #144
Seems like I am left with redundancy option only. Thank you so much for your help.

[2017-09-08 17:55] #144 closed

[2017-09-09 19:09] jamesjara commented on #59
Well, guys, finally; I have finished the MQTT RN Component for` SHADOWS` only but you can access directly to the awsiotdata,if you need to use `device` object.
I hope can be useful for you, we are using this in our products

https://github.com/jamesjara/aws-iot-device-sdk-js-react-native#debug
[code]

[2017-09-09 19:13] jamesjara commented on #86
guys I just created this repo for the mqtt aws iot shadows https://github.com/jamesjara/aws-iot-device-sdk-js-react-native hope it works for you, I will add a couple of examples usign cognito identity later but it easy to understand

[code]

[2017-09-11 08:01] sanpechuda opened #147 "autoResubscribe is not work when there are many topics subscribed"
When I connected broker and then subscribe to 25 topics, I cannot resubscribe after reconnection.
However, I found that if I subscribe to less topic(such as 8 topics), I can resubscribe after reconnection.

Now, I have to manually unsubscribe each topic before subscribing them.

[2017-09-11 08:53] dom-white commented on #132
It might have been worth mentioning this as a breaking change in the changelog. Currently it states this is a deprecation and certainly does not hint at the fact that it will now cause an exception if the new host endpoint is not provided

[2017-09-11 17:04] jamesjara opened #148 "react native component contribution"
Hello everybody, I know it has been a long time from the first request of this but it is alive now.
Quite simple, supporting `device` and `thingShadow` for example:
[code]
Repository: https://github.com/jamesjara/react-native-aws-iot-device-shadows

[2017-09-11 17:06] jamesjara commented on #86
#148 react native component guys ,hope it helps
@SanyasiraoM I'm working in the same issue, maybe a ping-pong pattern ?

[2017-09-11 22:41] fengsongAWS commented on #147
Hi @sanpechuda ,
Thanks for pointing this out. The root cause of this issue is that mqtt.js handle all the topics into one subscribe operation. The AWS IoT limit per subscribe to 8 topics so that's why you only saw it works for topics less than 8. A work around of this is that disable mqtt.js resubscribe. However, mqtt 2.2.1 does not expose this option. You can manually upgrade to latest mqtt.js

[2017-09-13 00:01] fengsongAWS commented on #148
Hi @jamesjara ,

Thanks for your contribution on this. We will work further on interacting with react native and have it in the future release.

Thanks

[2017-09-19 20:07] radhemad opened #149 "How can I proxy the IOT endpoint"
I am developing an Ionic App and would want to proxy the Endpoint before calling.

[2017-09-19 20:51] fengsongAWS commented on #149
Hi @radhemad ,
Can you elaborate your use case?
Are you using websocket connection or cert mutual auth? Are you creating your own proxy server?

[2017-09-20 01:55] radhemad commented on #149
So we are using Corporate firewall and would like all the end points go through the corp proxy.
Saw some solutions using AWS-SDK but not AWS-IOT-SDK.

Would need some solution on how to achieve this using IOT.

[2017-09-22 18:15] fengsongAWS commented on #149
The aws iot device sdk does not have a sample to work with proxy server. Sometimes it really depends on the proxy setup and behaviors. Typically, to connect with web proxy, you need to create a socket connection between client and proxy server. Then the client should send a HTTP connect and expect a 300 response. Some tls handshake or username/password pair might be required in this process depend

[2017-09-26 02:09] jamesjara opened #150 "Sigv4 service iotdevicegateway VS iotdata"
Hello,

I was wondering why the current implementation is using `iotdata` and the docs is using `iotdevicegateway` for the sigv4?
Iotdata:
https://github.com/aws/aws-iot-device-sdk-js/blob/a0def8b9909949f97d107a0dc1b63d069f15d8ae/device/index.js#L146
Documentation: (search for iotdevicegateway)
http://docs.aws.amazon.com/en_en/iot/latest/developerguide/protocols.html#http

[2017-09-28 18:05] fengsongAWS commented on #150
Thanks for point this out. They are now both accepted. Since 'iotdevicegateway' is documented, I will switch to iotdevicegateway to avoid confusion.

[2017-10-01 08:18] erichonkanen opened #152 "How to access MQTT.Client.connected?"
Hello,

I would like to be able to check the connection state by looking at `MQTT.Client.connected`
https://github.com/mqttjs/MQTT.js/blob/master/README.md#connected

However that is not available when using this package...

Any ideas how to access it or why it's not available when using this wrapper lib?

[2017-10-02 17:11] fengsongAWS commented on #152
Hi @erichonkanen ,
Thanks for your interest in aws iot device sdk.
In the SDK, we have a connection state variable to mark the state of the connection as 'inactive', 'stable' so we did not expose connected variable. However, the connectionState variable is for internal use as well. Could you elaborate your usecase of using connected variable?

[2017-10-02 19:49] erichonkanen commented on #152
hello @fengsongAWS, we are currently doing an experimental branch switching our project from autobahn.js to aws iot.

The existing autobahn based code uses the connection state to trigger some things in our app. An example is if the connection drops and then comes back up we need to run some code...

[2017-10-03 00:02] fengsongAWS commented on #152
The SDK does not expose the connection state unless you customize the source code. Can you do similar things in 'connect' and 'offline' events call back?  e.g.
[code]

[2017-10-03 06:19] erichonkanen commented on #152
@fengsongAWS yeah I can just handle it manually like that.. thanks

[2017-10-03 06:19] #152 closed

[2017-10-05 05:52] anmolgupta commented on #61
Hi,
I am new to AWS IoT and trying to prototype my device.
I am also facing the similar problem and retain: false is also not working for me. I an in a continuous loop of offline close reconnect close reconnect....

Thanks in advance for any help

[2017-10-05 06:47] anmolgupta opened #153 "Not connecting to the broker. Continuously in the loop of offline close reconnect close reconnect..."
[code]

I am trying to run the sample code above but the device is not getting connected. I have also tried passing

 but still the program shows

offline
close
reconnecting
close
reconnecting
close
reconnecting
close
reconnecting
....

[2017-10-05 12:03] anmolgupta commented on #153
My bad.
The policy ARN needs to be edited for the device.

[2017-10-05 12:03] #153 closed

[2017-10-05 20:41] Rajat07101994 commented on #153
we change our policy of arn with new connection code and where is this uuid come from

[2017-10-10 15:38] lusentis commented on #88
Just experienced the same issue. We found out that we forgot to `activate` the certificate from the console...

[2017-10-10 17:48] kennu opened #154 "Support for Greengrass Discovery"
The AWS IoT C++ Device SDK has support for Greengrass Core discovery (https://github.com/aws/aws-iot-device-sdk-cpp/blob/master/GreengrassDiscovery.md). It would seem logical to add this support also to the JavaScript SDK. Are there any plans yet?

Technically it's just a certificate-authenticated HTTPS request that returns the local MQTT endpoint and local CA certificate, which will be used inste

[2017-10-10 20:00] fengsongAWS commented on #154
Hi @kennu ,
Thanks for your interest in AWS IoT Node.js SDK. We are looking into this feature request and hopefully we can get this sorted out as soon as possible. Please stay tuned.

[2017-10-12 15:28] edodso2 opened #155 "Can't connect with Cognito credentials"
I was able to use the SDK to connect my thing via node.js and X.509 cert. Then I connected in the browser using Congito and an unauthenticated user. However, when I tried to use an authenticated user I get stuck in a "closed/reconnecting" loop.

- My policy for the identity pool is the same for authenticated and unauthenticated users.
- I had no issue connecting to dynamodb via AWS SDK with my aut

[2017-10-12 17:19] fengsongAWS commented on #155
Hi @edodso2 ,
Thanks for your interest and question in IoT Node.js SDK.

You’ll need to attach your IoT policy to your authenticated Cognito identities also. The pool gets attached to an IAM policy and authenticated Cognito identities also need the IoT policy to access AWS IoT data plane actions like iot:Connect/Publish/Subscribe/Receive.

You can do this for one-off identities with the iot:Attach

[2017-10-12 21:07] edodso2 commented on #155
Thanks for the quick response @fengsongAWS . After some trial and error I was able to get the connection established.

The connection does drop from time to time (did this about 4 times while I was writing this post) but reconnects immediately and is able to receive messages. Is this normal?

For anyone else experiencing this issue here are the steps I am following:
1. Authenticate with Cognito
2.

[2017-10-12 21:39] fengsongAWS commented on #155
Hi @edodso2 ,
Thanks for your detailed elaboration. We will work on providing more instructions on cognito setup in the future.
The connection drop is not normal. You probably should double check your environment settings or logs to see the reason that drops the connection.

[2017-10-13 06:23] xtrycatchx opened #156 "Using own CA : unable to get local issuer certificate"
I encountered the error upon connecting to AWS IoT over MQTT using my own CA certificate and my own Device Private Key and Device Certificate:
[code]
The code that attempt to connect is
[code]
How i generated the rootCA
[code]
How i registered my rootCA
[code]

How i create and signed my device cert
[code]

I'm quite not sure what did I missed that it resulted to exception mentioned above.
Thanks

[2017-10-13 17:17] fengsongAWS commented on #156
Hi @xtrycatchx ,
From what I can see from your description, you always need to use AWS IoT rootCA when you try to connect to AWS IoT.
I think following docs will help you go through the process.
http://docs.aws.amazon.com/iot/latest/developerguide/device-certs-your-own.html
https://aws.amazon.com/blogs/iot/just-in-time-registration-of-device-certificates-on-aws-iot/

[2017-10-14 02:49] xtrycatchx commented on #156
Thanks @fengsongAWS . I assume this means the Device would use the AWS CA cert while/and Server(AWS IoT endpoint) would use Device's cert to establish the TLS before MQTT before them.
If yes, we can close this :)

[2017-10-16 01:30] #156 closed

[2017-10-17 00:10] #155 closed

[2017-10-17 00:11] #140 closed

[2017-10-17 00:12] #142 closed

[2017-10-17 00:12] #139 closed

[2017-10-17 00:13] #121 closed

[2017-10-20 15:58] sirianni commented on #26
@gkwicker wrote:

Is it possible for AWS to publish this certificate chain?  Or at least the certificate used to immediately sign the device certificate?  We have use cases where we would like to leverage the AWS IoT CA as a trust anchor for peer-to-peer authentication of devices.

(Sorry to hijack this thread, but I have a question on the above and not sure what other forum to use.)

[2017-10-24 00:19] mlfarrell opened #157 "Configure attempted reconnection interval"
Is this possible?  If the device can't connect, I'd like it to use up less cpu and logging space trying to reconnect immediately in a loop.  I'd like to dial it down to maybe every minute or so.

[2017-10-24 20:46] fengsongAWS commented on #157
You can config `baseReconnectTimeMs` and `maximumReconnectTimeMs` to meet your requirement.

Thanks

[2017-10-24 21:10] mlfarrell commented on #157
Thanks.  Sorry for creating an issue for something you clearly documented.

[2017-10-24 21:10] #157 closed

[2017-10-26 06:41] dushyantbangal commented on #121
Sorry, I thought QOS 1 was default. It started working when I specified `{qos:1}` in options

[2017-10-27 11:46] RameshRM opened #158 "Keep Receiving Messages after the messages are consumed by the client"
My setup is I publish a message from `iot` and have a rule setup to trigger a Lambda, Lambda publishes a message on the topic subscribed by `iot`, I am experiencing messages are bufferred and keep receiving messages constantly

Any pointers on why this would happen ?

[2017-10-27 13:25] RameshRM opened #159 "Is there an option to disable `Reconnect`"
Is there an option to support disabling `auto reconnect` of `iot` , I do see the embedded C have an option to do this

http://aws-iot-device-sdk-embedded-c-docs.s3-website-us-east-1.amazonaws.com/aws__iot__mqtt__client_8h.html#aead415c5217c53ce127747a9019e6b0d

[2017-10-27 17:09] fengsongAWS commented on #158
Hi @RameshRM ,
Can you elaborate your case? What topics did your iot device subscribe to and which topic did your lambda publish to? And which topic did you receive messages from?

[2017-10-27 17:17] fengsongAWS commented on #159
There is no option field to disable `autoreconnect`. The reconnect logic is handled by mqtt.js.
However, you can call `device.end()` to force ending the reconnection.

Thanks

[2017-10-27 17:50] RameshRM commented on #158
@fengsongAWS

1. I have device publishing a message `verify`
2. `Verify` message is setup @ the Rule engine to Trigger a Lambda
3. If Lambda `verified` successfully, sends a message back 'verify` with `status`
4. Device subscribes to the message `verify`

My issue is after `device.on(message)` is consumed , I keep receiving messages , that means `device.on(message)` is getting invoked.

Lambda is

[2017-10-27 17:51] RameshRM commented on #159
Ok Thanks, `device.end` will work.

[2017-10-27 17:51] #159 closed

[2017-10-27 18:04] fengsongAWS commented on #158
I do not quite understand here. Is `**verify**` and `**status**` the name of your topic? What do you mean by saying device subscribe to the message `verify`?

`device.on(message)` should only be triggered when there is incoming message. You can subscribe to life cycle events to see the message flowing by log into IoT Console subscribing to $aws/events/# to see who published the messages.

[2017-10-27 21:17] RameshRM commented on #158
Ah, I should have explained better, Device & Lambda send back and forth `Verify` topic with value status.

Btw: `$aws/events/# ` I can subscribe to this topic with my registered `thing` ?

[2017-10-27 23:19] tai-x opened #160 ""Report only" variables and the shadow's Delta topic"
Hi everyone. I am currently programming an embedded system using AWS IoT for device-app synchronization, and soon enough I found myself with some "report-only" variables, variables which only have one single source of truth. I.e. a value read from a sensor, which conceptually makes sense to only write as "reported" in the shadow.

Concrete example: the ambient temperature in a thermostat is someth

[2017-10-30 18:04] fengsongAWS commented on #160
I think the device should always publish to `desired` state of shadow document. The corresponding reported section should only be updated once the device or monitor catches messages from `delta` topic. This is to make sure the shadow documents will always be in sync.

I think the correct way is to subscribe to `upate/delta` and `update/accepted` topics. You can take a look at the temperature-contr

[2017-10-30 20:01] tai-x commented on #160
I confirm that having the device update the "desired" state of the "report-only" variable works. But it feels I am doing this just to have a message triggered in the delta topic. Conceptually my variable only needs to be "reported".

About:

No. Because I don't want the variable inside my device to respond to any "desired" state changes coming from the shadow (for which the source of the change ma

[2017-10-30 20:40] Fahrenheit2539 commented on #160
I'm trying to understand how does using delta topic help here.

As it is delta between desired and reported (and not between current and previous value), I don't see how it is different from subscribing to the whole document updates.

Can you elaborate?

[2017-10-30 20:48] fengsongAWS commented on #160
@tai-x ,
When each time there is an operation, a token generated from the device will be included in that packet. So, to tell the source of the operation, you can track the token to tell the source and hence can ignore the others. Alternatively, the IoT policy can also help on restricting devices on performing operations but this is another story.

@Fahrenheit2539 , The `update` topics were added

[2017-10-30 21:10] tai-x commented on #160
@fengsongAWS
I'm sort of trying to make you guys at AWS reflect on the design of the AWS topics behavior and definition. E.g. the "token" solution, I can't tell if I can easily obtain the client id from the library and send it to the callback. For instance, will it make sense to include the "client id" in the metadata of the variable?

@Fahrenheit2539
For a "report"-only variable like ambient temp

[2017-10-30 21:48] fengsongAWS commented on #160
@tai-x ,

Conceptually, the design of shadow is more of like the device or remote controller should always post their value to a `desired` state, and when the device itself catch the desired to be value, it should update its `reported` value to be sync with `desired` value. And when next update happens, it will do the same thing.

To answer your second question. An update could be caused by either

[2017-10-30 22:58] fengsongAWS commented on #158
Hi @RameshRM ,
You can use AWS IoT console to subscribe to life cycle topics.

[2017-10-31 01:50] tai-x commented on #160
@fengsongAWS
When I started using AWS IoT, I understood the desired/reported flow as you explain. It is completely natural that _remote controllers_ update the `desired` state, and then the _device_ subscribed to the delta topic will respond updating the `reported` state.

This even makes sense for a local change (within the _device_) to a variable that is shadowed and represents a value that is b

[2017-10-31 17:43] fengsongAWS commented on #160
Thanks for your interest and comments in AWS IoT. This goes more of towards the design of shadow service and shadow service also keeps adding new logic and functionality e.g. update API. We are more than happy to take more customer use cases. I will close this issue for now and feel free to open another thread if you have more questions on AWS IoT Device SDK.

[2017-10-31 17:43] #160 closed

[2017-10-31 21:40] mjmelli opened #161 "Publish speed"
I'm trying to do some very basic throughput testing on publishing messages to the IoT gateway (and then storing them in DynamoDB). I'm just putting a publish function in a loop.

Our use case will be sending quite a bit of rapid sensor data from a fleet of devices so I'm trying to get a sense of what kind of throughput we can expect.

Right now I'm only able to get it to send out about 3 messages

[2017-10-31 22:48] fengsongAWS commented on #161
Hi @mjmelli ,
You should be able to get more than that. More details of IoT limits are documented here, search for IoT. http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html

[2017-10-31 23:58] mjmelli commented on #161
Hi @fengsongAWS,

Thanks for your response. I have seen the limits and I'm sure I'm nowhere close to hitting any of them, which is why I posted here. My network is stable and fast as well, so I'm really not sure why it's so slow. Any additional help with optimizing for rapid message publishing would be appreciated.

Thanks.

[2017-11-01 18:35] fengsongAWS commented on #161
Hi @mjmelli ,
Does this happen to other SDK as well or is it specific to Node.js? Can you try other SDK e.g. Python, or embedded C to see how much you can get there?

[2017-11-01 19:27] mjmelli commented on #161
Hi @fengsongAWS ,

Thanks for the suggestion. I don't know Python very well, but I installed the Python IoT SDK and set up a very similar loop to publish as many messages as possible, and saw drastically better performance than the Node SDK. I'm getting over 1000 messages/sec with Python and still can't figure out how to get more than ~3-5/sec with the Node SDK. The code was substantially similar

[2017-11-01 22:22] fengsongAWS commented on #161
Hi @mjmelli ,
I think you do not wait for the connection to be stable. All the publish you did were push into the queue and being drained sequentially.

You need to wait for the minimumConnectionTimeMs so that the device mark the connection as stable, then you do the batch publish. This should work for you.

[2017-11-01 22:36] mjmelli commented on #161
Hi @fengsongAWS ,

Thanks for this advice. I added a timeout to wait before publishing messages and this did indeed fix my problem, the messages went through very fast.

I see that the default value for minimumConnectionTimeMs is 20 seconds, but I tried it with a wait of just 1 second and that also seemed to work. Is there a value that can be considered "safe" for a real-world application?

Our Io

[2017-11-01 22:58] fengsongAWS commented on #161
Actually, I was not accurate about my previous statement.
In your case, you do not necessarily wait for minimumConnectionTimeMs because as long as it is not inactive, you are good to go. The real problem here is that you need to wait for the drainer to finish which scheduled to start and be cleared after 250 ms (by default) once connected. And to have this in the fastest performance, please do not

[2017-11-01 23:03] mjmelli commented on #161
Thanks @fengsongAWS . This is helpful and waiting 250ms after connect seems to also work.

Thanks for your help with this!

[2017-11-01 23:03] #161 closed

[2017-11-05 06:01] polyren opened #162 "error: exceptions.INVALID_CONNECT_OPTIONS"
Hi, I'm a new man who is studying aws iot, I followed the guide of how to use raspberry pi connect to iot, but facing this error that I can not figure it out. can anyone helo me with this?
pi@rendupi:~/deviceSDK/node_modules/aws-iot-device-sdk $ sudo node examples/thing-example.js -f ~/deviceSDK/certs
/home/pi/deviceSDK/node_modules/aws-iot-device-sdk/device/index.js:406
      throw new Error(exce

[2017-11-06 22:20] fengsongAWS commented on #162
Did you provide `-H` endpoint option?

[2017-11-06 23:10] fengsongAWS commented on #154
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:10] #154 closed

[2017-11-06 23:10] fengsongAWS commented on #148
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:10] #148 closed

[2017-11-06 23:10] fengsongAWS commented on #145
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:10] #145 closed

[2017-11-06 23:10] fengsongAWS commented on #141
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:10] #141 closed

[2017-11-06 23:11] fengsongAWS commented on #137
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:11] #137 closed

[2017-11-06 23:11] fengsongAWS commented on #134
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:11] #134 closed

[2017-11-06 23:11] fengsongAWS commented on #116
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:11] #116 closed

[2017-11-06 23:11] fengsongAWS commented on #136
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:11] #136 closed

[2017-11-06 23:11] fengsongAWS commented on #149
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:11] #149 closed

[2017-11-06 23:12] fengsongAWS commented on #71
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:12] #71 closed

[2017-11-06 23:12] fengsongAWS commented on #93
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:12] #93 closed

[2017-11-06 23:14] dimonomid commented on #71
Why closing it? Is it fixed?

[2017-11-06 23:25] polyren commented on #162
I just made my own project which runs the basic function of using the data from IOT shadow.
I will close this question.
However, I still want to suggest the amazon WAS to make a clear guide for beginners, like "use the examples you like", there are so many files are named as "examples", but only a few of them are good to run. Also, they need to install other modules, I was so stressful to follow t

[2017-11-06 23:26] #162 closed

[2017-11-06 23:30] fengsongAWS commented on #150
Issue was resolved in v2.1.0

[2017-11-06 23:30] #150 closed

[2017-11-06 23:33] fengsongAWS commented on #78
Thanks for your interest in AWS IoT Device SDK. We will close this issue for now and please feel free to open another thread if you have more questions.

[2017-11-06 23:33] #78 closed

[2017-11-06 23:52] fengsongAWS commented on #71
Hi @dimonomid ,
This is a question for AWS SDK  which provide control plane API and not for AWS IOT Device SDK. Please open a thread at https://github.com/aws/aws-sdk-js if you have more questions. Thanks

[2017-11-07 19:35] dazu70 opened #163 "Host and Port properties from config file not matching args"
If I wanted to specify Host and Port properties from a config file instead of command line arguments, I get the error when running any of the examples:
`Error: Invalid connect options supplied.
    at new DeviceClient (aws-iot-device-sdk-js/device/index.js:406:13)`

Host and Port properties in config are supposed to be lower case, but should be mapped to upper case in args by the lib/cmdline.js li

[2017-11-10 07:19] mattmeye commented on #141
Hi @fengsongAWS,

In my case,  pc users should be able to connect to the message bus with certificates with their browser. I know, I'm able to create iam users and give them permissions, but I have a specific user management and don't use iam.

It's easier for me to handle a pc user as a normal actor/sensor, manage permissions via certificates. The sdk is currently for nodejs, not for simple brows

[2017-11-10 07:58] rajatprogrammer commented on #141
Hi @mattmeye  I am also working on the same issue that i have authorized a  specific user for this when you open your account on Amazon as IAM users during adding the iot policy you generate some certificate like public and private certificates. at the same time, you download it and give that certificate to another specific user for whom you want to create and store that certificate on the root of

[2017-11-12 02:57] mattmeye commented on #141
@rajatprogrammer many thanks, do you use an open js package? or have a code snippet?

[2017-11-17 23:25] Nosajool opened #166 "'secretKey' device initialization option vs 'secretAccessKey' from AWS credentials"
One thing that tripped me up when initializing the device client was that the constructor options `accessKeyId` and `sessionToken` map perfectly to the `AWS.config.credentials` keys however `secretKey` differs from `secretAccessKey`.

This prevents me from using shorthand ES6 object initialization syntax when the key and variable name are the same. (I had assumed that they mapped perfectly and was

[2017-11-18 02:58] fengsongAWS commented on #166
Hi @Nosajool ,
Thanks for pointing this out. We will look into this but to avoid major version changes, I would prefer stay with the current options.

[2017-11-20 18:55] Nosajool commented on #166
Sounds good :sunglasses:

[2017-11-20 18:56] #166 closed

[2017-11-20 22:46] fengsongAWS commented on #158
Hi @RameshRM ,
Please reopen another thread if you still have questions

[2017-11-20 22:46] #158 closed

[2017-11-22 05:38] knownothing8 commented on #97
I am learning lambda function.  How to upload certificates file for lambda function to use

[2017-11-22 18:12] fengsongAWS commented on #97
hi @knownothing8 ,
You can zip the your node package and upload to lambda directly. However, using AWS IoT Device SDK is not recommended because lambda does not maintain long live connection so traditional pub/sub model does not work out in this case. You can use AWS SDK https://github.com/aws/aws-sdk-js which is a HTTP based model.

[2017-11-28 01:23] knownothing8 commented on #97
Hi FengSong, from your old comment,  http based model can only support publish, but cannot subscribe.  I have physical IOT device which need both pub/sub.  As such, I need mqtt from AWS IOT device SDK.

1. If you think it is not recommended to use AWS IOT Device SDK for mqtt, perhaps should I find other MQTT broker such as https://www.pubnub.com/

2.  Another issue. This is zip file hierarchy. How

[2017-11-29 15:00] fengsongAWS commented on #97
1. The reason not recommended is because of the nature of lambda. Lambda function does not support long live connection. AWS IoT Device SDK is designed for mqtt pub/sub model with AWS IoT Cloud service.
2.Please double check your path and naming. For example, I see different naming for root-CA.crt vs rootCA.key

[2017-11-29 18:58] fengsongAWS commented on #147
Issues fixed v2.2.0

[2017-11-29 18:58] #147 closed

[2017-11-29 18:58] fengsongAWS commented on #98
Issue is fixed in v2.2.0

[2017-11-29 18:58] #98 closed

[2017-11-29 18:59] fengsongAWS commented on #68
shadow version exposed in v2.2.0 and behavior changes. Please create a new thread if you still have questions.

[2017-11-29 18:59] #68 closed

[2017-11-30 01:49] knownothing8 commented on #97
@fengsongAWS  Thanks for the reply.  I finally resolve both issues.

You are right about the recommendation.  Since I only need Alexa skill to send a command to AWS iot through lambda function, only MQTT publish is needed.  I assume MQTT subscribe is not recommended inside Lambda function since Lambda function does not support long live connection while MQTT subscribe require long live connection.

[2017-12-06 20:57] raRaRa opened #167 "How to handle errors?"
When my PC loses connection to AWS IoT I get bunch of expected errors such as:

    at f.r.emit

The reconnect event is triggered which is enough for me to handle the error, but I would like to catch this particular error just to make the console look better.

Is there anything that I can do to catch those errors?

Thanks!

[2017-12-09 17:53] paul-cipherlex commented on #55
Am getting similar.  No errors other than continual reconnects on the client side, and an authorization error in cloud watch.

Will file a separate request to have debuggable error messages on the client side.

Even after reading this, I have no idea how to fix this..

[2017-12-09 17:57] paul-cipherlex opened #168 "Example code just reconnects does not issue a usable error message"
When running the example code, I'm getting errors but the client just reconnects and doesn't issue any useful error messages.

For example:

    node node_modules/aws-iot-device-sdk/examples/device-example.js -t 1  -f certs -d 4000 -D -T paul-pi3 -H a1vfc41l04drxa.iot.us-east-1.amazonaws.com

Just fails with

[code]

When I hook up CloudWatch, I get a semi-usable error message:

    2017-12-09 06:

[2017-12-10 00:11] typemismatch commented on #55
Firstly, if this is from a Lambda function you don't need certificates - your Lambda role just needs permission to talk to the IoT end-point in your region and that is how you should be using it. If you need examples just ask. Secondly, don't use data.iot.region.... it is being depreciated, use the end-point from the settings page in your IoT console.

[2017-12-10 02:36] liuszeng commented on #168
Hi @paul-cipherlex ,

Thank you very much for using AWS IoT Node.js SDK.

I am assuming that you are using the following SDK sample:
https://github.com/aws/aws-iot-device-sdk-js/blob/master/examples/device-example.js

The SDK will emit corresponding events based on the message arrival and client status change. In the sample, it just prints out a simple statement saying the client is offline and re

[2017-12-10 02:52] liuszeng commented on #167
Hi @raRaRa ,

Thank you very much for using AWS IoT Node.js SDK.

Unfortunately, I am not able to reproduce your issue. I assume the errors are coming from the underneath Mqtt.js code. Can you confirm? Can you provide more context/logs when this issue happens?

Thanks,
Liusu

[2017-12-11 02:12] paul-cipherlex commented on #168
Hello:

I followed the example at:  http://docs.aws.amazon.com/iot/latest/developerguide/iot-device-sdk-node.html

And it says nothing about adding a policy to a certificate.

Are there step by step instructions for raspberry pi3 that actually work?  Having trouble finding one.

[2017-12-11 03:43] paul-cipherlex commented on #168
After adding this policy, of which I could not find as an example in the documentation, the above example works:

[code]

[2017-12-11 03:44] paul-cipherlex commented on #168
I'm writing a how-to for my fellow devs, that will have step by step instructions that if followed will result in success.

Would you care for a copy when I'm done?

[2017-12-11 07:02] liuszeng commented on #168
Hi @paul-cipherlex ,

Sorry that you are not able to find the documentation. It's in the first section in "AWS IoT SDK tutorials":
http://docs.aws.amazon.com/iot/latest/developerguide/iot-sdk-setup.html

Glad to know that the example is working for you.

Thanks,
Liusu

[2017-12-11 07:02] #168 closed

[2017-12-11 16:56] paul-cipherlex commented on #168
Would you please add the [link to the SDK setup doc](http://docs.aws.amazon.com/iot/latest/developerguide/iot-sdk-setup.html ) to the README.md in the examples section?

That will help the next person who attempts to use the SDK.

I also note the link includes instructions for loading the wrong version of nodejs.  I gave feedback via the suggestions link in that doc.

[2017-12-11 18:50] liuszeng commented on #168
Hi @paul-cipherlex ,

I have created an internal tracker for this documentation update request. It will be included in the future releases. Thank you again for your input.

Thanks,
Liusu

[2017-12-12 03:10] Zacharis278 opened #169 "custom authorizer headers"
I'm attempting to use a custom authorizer for browser clients and haven't had much luck getting it to work.  Turns out on further inspection I'm not seeing any of the custom authorization headers getting sent when attempting to connect.

Am I missing something?

client setup:
[code]

[2017-12-12 03:51] liuszeng commented on #169
Hi @Zacharis278 ,

Thank you very much for using AWS IoT Device SDK for Node.js.

I have forwarded this issue to the corresponding internal team for better support/investigation. In the meantime, can you also share the logs when you were experiencing the issue?

Thanks,
Liusu

[2017-12-12 05:51] wongjasont opened #170 "Support for creating new 'things'"
Hi,

The examples in this project will always start with already having both security certificates and declared 'things' in the connected account. Will there be support for programmatically adding 'things' and grabbing security certs? This is a very important feature to automate IOT device registration.

Thanks!

[2017-12-12 11:36] rahulkai opened #171 "Thing register limit increase"
Hi,

As mentioned in the below thread we can only subscribe  to 7 shadows by changing client id this can be increased.I want this process to be dynamic to register more the 100 thing.

https://github.com/aws/aws-iot-device-sdk-js/issues/43

Thanks

[2017-12-12 12:54] Zacharis278 commented on #169
As is tradition it takes opening an issue before I find the underlying problem  😉 .  I had not realized the browser implantation of websockets do not support adding additional headers to the request.

Is there any way to use a custom authorizer with browser clients?

[2017-12-12 18:26] BaranEm commented on #97
How would a lambda function which only publishes messages look like? Any sample code?

[2017-12-12 19:27] liuszeng commented on #171
Hi @rahulkai ,

As I mentioned in post #43 , AWS IoT has the limit of 50 subscriptions per connection (mentioned in [AWS servicel limits](http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot)), which means you can only manage 7 device shadows within the same connection. To go beyond that, what you can do is to create different client connections to AWS IoT and register y

[2017-12-12 19:43] liuszeng commented on #169
Hi @Zacharis278 ,

Thank you very much for providing the information. Please bear with me while I am going through the code.

I was looking at the package.json file for the browser sample and found this line suspicious:
https://github.com/aws/aws-iot-device-sdk-js/blob/master/browser/package.json#L12

Are you using this browser sample in the SDK? Can you update the version of the device SDK and tr

[2017-12-12 20:25] Zacharis278 commented on #169
Yeah on further investigation my problem may be a wider one than something that can be addressed in this SDK alone.   The websocket implantation in the web browser itself does not support adding headers.  Yet, the custom authorizer setup needs to send that 'X-Amz-CustomAuthorizer-Name' header in order to identify what authorizer to use.

So, my broader question.  Is it in any way possible to use a

[2017-12-13 00:55] liuszeng commented on #169
Hi @Zacharis278 ,

I was able to duplicate your issue in Firefox on my side using browserify and the latest version of SDK with custom authorizer support. It seems that the required headers for custom authorization in the outgoing request are still missing event if it is configured in the SDK client:
![image](https://user-images.githubusercontent.com/14796906/33916128-2b85eb16-df5c-11e7-97c2-0c2fc

[2017-12-14 10:55] rinhbt opened #172 "could not get thingshadows from Lambda function"
I have published the thing data to AWS IoT, but when my Lambda function can not get the data back, could you help me please, as I ask my Alexa what is the temperature it just return 0 as if it not get anything from the thingshadows payload

my thingshadows payload is as follow:
[code]
my lambda function is as follow

[code]

[2017-12-14 20:11] liuszeng commented on #172
Hi @rinhbt ,

The AWS IoT Device SDK for Node.js is for MQTT based communication to AWS IoT. It seems that you are using the AWS SDK for JavaScript.  You can checkout their Github repository here:
https://github.com/aws/aws-sdk-js

That being said, I did a minor experiment with AWS SDK for JavaScript myself and it seems working fine with the following code:
[code]

My shadow JSON document is like

[2017-12-14 20:12] #172 closed

[2017-12-15 09:03] rahulkai commented on #171
Hi @liuszeng ,

#43 provides the below solution.

[code]
This will be a static variable if i want to register thousands of device this will have multiple variable   any example or solution to optimize this code.

Thanks,
Rahul

[2017-12-15 11:21] rinhbt commented on #172
I still got 0 like I received nothing from the AWS IoT. Should I include the aws-sdk in the file I upload to the Lambda function? sorry this is the first time I do this...

[2017-12-15 19:20] liuszeng commented on #171
Hi @rahulkai ,

That really depends on how you want to structure your system. One thing you can do is to create your own shadow client vendor that keeps track of the total number of shadows you are tracking (subscribing to 7 topics for each) and allocate a new client connection once that limit is reached. Something similar to the following:
[code]
That being said, I am not sure if this is the righ

[2017-12-21 07:24] akashbiz commented on #55
+1, getting similar issue, can we have callback if connection request have any error before re-connection takes place?

[2017-12-21 07:44] akashbiz opened #173 "connection lost - will attempt reconnection in 8 seconds..."
Hello, I am using cognito to authenticate users and then creating a thing for each user and attaching the identity as principal to this newly created thing. This flow works great with **temperature monitor example** but if we delete cognito user and re signup with same credentials then identityId is different now and hence connection isn't establishing properly because this new Identity is not att

[2017-12-23 15:11] juhamust commented on #173
Same issue here - but I didn't have to to delete/re-register the user between 🤔

[2017-12-25 23:52] wongjasont commented on #170
Closing this issue. The IOT service in AWS SDK has this functionality.

[2017-12-25 23:52] #170 closed

[2017-12-26 03:19] jacksonloper opened #174 "is there a way to access the underlying mqtt device?"
It looks to me like the underlying `new mqtt.MqttClient(_wrapper, options)` is a private variable.  That makes some things hard to debug.  For example, at the moment AFAIK there is no way to check if the device is actually connected (e.g. using `mqtt.Client#connected`).  More generally it is kind of hard to debug because everything of importance is private.

Possibly related: in your documentation

[2017-12-26 06:07] 0xc0d3r opened #175 "SyntaxError: Unexpected token in <MY_PROJECT>/node_modules/aws-iot-device-sdk/thing/index.js"
[code]

`
webpack.config.js
`

[code]

Versions:
node: v7.3.0
npm: 4.6.1

[2017-12-26 09:17] 0xc0d3r commented on #175
I figured out the issue. Check my solution at [stackoverflow](https://stackoverflow.com/questions/47974825/syntaxerror-unexpected-token-in-node-modules-aws-iot-device-sdk-thing-index-js/47976305#47976305)

[2017-12-26 09:17] #175 closed

[2017-12-26 19:35] bxpan commented on #174
Hi Jacksonloper,

Currently, you can tell whether it is connected by the "connect" callback function. For example: https://github.com/aws/aws-iot-device-sdk-js/blob/master/examples/device-example.js#L80  If you this callback function is not triggered, then it is not connected. However, we'll consider and evaluate the use case and necessity of adding an API to check the current connection status in

[2017-12-27 06:56] 0xc0d3r commented on #167
I'm also getting the same error.

`WebSocket connection to 'wss://no-credentials-available/' failed: Error in connection establishment: net::ERR_NAME_NOT_RESOLVED`

events.js:62 Uncaught Error: Uncaught, unspecified "error" event. ([object Event])
    at DeviceClient.EventEmitter.emit (events.js:62)
    at MqttClient.<anonymous> (index.js:772)
    at MqttClient.EventEmitter.emit (events.js:96)

[2017-12-27 09:44] raRaRa commented on #167
I ended up listening to `error`, I just wasn't aware that it was possible.

[code]

That seems to do the trick, but there's no way to tell what kind of error was thrown, e.g. if it was a connection issue, etc.

[2017-12-28 18:05] juhamust commented on #173
Having similar issue with the built-in example: https://github.com/aws/aws-iot-device-sdk-js/tree/master/examples/browser/mqtt-webpack

Cognito _does return_ valid looking accessKeyId, secretKey and sessionToken, but still console keeps returning error:
[code]

[2018-01-03 18:08] fengsongAWS commented on #173
Hi,
The SDK basically does not do any authentication for users. It basically passes all the credentials to server and return messages from server. Since your AWS credentials work for websocket connection, I doubt there were some misconfiguration for your cognito settings. Could you double check your permission, policy and enable unauthenticated login if using this way?

Thanks

[2018-01-03 18:09] fengsongAWS commented on #167
MQTT is a long live connection and it does not contain any message error code. If any unexpected behavior, the connection was just killed.

[2018-01-03 18:26] fengsongAWS commented on #173
Yes, please refer to cognito developer guide for more details here.
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-console.html

[2018-01-04 10:21] rococtz opened #177 "Where to get device instantiation params from?"
I am trying to setup a simple device client in the browser following this example in the README file:
[code]

I have created a thing, a type and associated them with a police in my AWS IoT console, but where do I get the <...> information from? Also, since it's going to be part of a front-end application, is it safe to put it here?

[2018-01-04 18:18] fengsongAWS commented on #177
Hi @rococtz ,
You are right that using cert and root CA in browser environment is not recommended. Instead, you can use websocket connection which only requires IAM credentials.
https://github.com/aws/aws-iot-device-sdk-js#connections

[2018-01-04 20:36] gpcrawford commented on #173
I too am seeing this issue when trying to implement the browser/mqtt-explorer example.  I am authenticating from the browser using Cognito user pools and identities and I know the authentication works because I can access a dynamodb table from browser code after authenticating (the cognito role allows dynamodb access).  The cognito auth role includes full AWS Iot Access permissions.  I have enable

[2018-01-04 21:17] svj13 opened #178 "Connecting to AWS IoT through MQTT (or any other way)"
Hello!

I am asking here because hopefully someone may be able to provide insight to a problem I am having! Please close/delete this issue if you feel it is irrelevant.

Long story short, I have a web browser client that sends a message to my server via websockets. Now, I want to take that message, and send it to AWS IoT from my sever using MQTT. I do not want to send straight from my client throu

[2018-01-05 02:50] fengsongAWS commented on #173
A common mistake is mismatch of region. Please make sure your region of your cognito matches your IoT region. Did you attach your policy to unauthenticated role?

[2018-01-05 06:28] rococtz commented on #177
Thank you for the info @fengsongAWS , but I still can't get it to work.
I created a custom authorizer in my AWS IoT console and then I instantiate the client like this:
[code]

Any idea what goes into `X-Amz-CustomAuthorizer-Signature` ?

[2018-01-05 18:49] gpcrawford commented on #173
Is there any reason that authenticated identities can't be used?

[2018-01-06 12:43] juhamust commented on #173
@gpcrawford care to share a link into documentation describing how to do it? thanks.

[2018-01-06 14:38] gpcrawford commented on #173
@juhamust - this thread was very helpful in pointing me in the right direction: [https://github.com/aws/aws-iot-device-sdk-js/issues/155](url)

The key ingredient is attaching the policy defined in the IoT console for your thing to your authenticated identity.  This is pretty straightforward and is done with the AWS.iot.attachPolicy method ( [https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS

[2018-01-06 20:30] juhamust commented on #173
Thanks a lot @gpcrawford  for thorough instructions! I'm sure I can take it from there - but will ask/add comments if needed.

[2018-01-08 17:27] chaurah commented on #178
Hi @svj13,
     Just to clarify, based on the stackoverflow post, you seem to have atleast one attempt working. You just want to figure out if there's a way to get the second snippet working. Is that correct? Also, it is possible to directly connect to AWS IoT from the browser using this SDK. If that can work with your design, you may want to avoid the longer path via your server.

Rahul

[2018-01-08 17:57] fengsongAWS commented on #173
Hi all,
Thank you for your interest. @gpcrawford is correct that you should attach policy to your principal. Please let us know if you have more questions.

[2018-01-09 12:35] juhamust commented on #173
Thanks for the helpful tips and instructions from my behalf as well. Finally managed to create WS connection. Had one more additional reason for re-connection issue: Too limited IAM role permissions. While I don't have the exact list of actions needed, that is something to check and adjust in case of having same error.

All in all, seems like there are several possible problems developer can run i

[2018-01-09 17:19] jamesjara opened #179 "Job and device/shadow running at same time on the device"
Hello

As we know the device can only run one single connection by same client id, based on that. A physical device opens a connection with the `device` implementation to subscribe to the AWS IoT Shadow. I was wondering how it that will work based on the `jobs` implementation seems to create another new MQTT client

[2018-01-09 18:09] fengsongAWS commented on #179
`jobs` like `shadow` is built on top of `device`. Basically, it shares same implementation of device which opens a connection with a unique client ID.

[2018-01-09 21:26] jamesjara commented on #179
Hmm but so if I already have
[code]
then I use the jobs lines latter, because I need to be subscribe to the shadow changes but also to any OTA job request
[code]
Is this using the same unicuqe connection internally (I guess if the clientId match) ?
Because currently we have the thingShadow already implemented on the devices and we are testing the OTA with aws-jobs

[2018-01-09 21:58] fengsongAWS commented on #179
Right now, if you do not provide clientId, SDK will generate a unique id for each session. In this case, the client ids would be different. If using same client id, the connection will drop due to id conflicts. Right now, the SDK does not provide a uniform wrapper on both. Or you could use job class to subscribe shadow topics by your own. By doing this, you will implement shadow behavior by yourse

[2018-01-09 22:10] jamesjara commented on #179
okay thanks for the information, so it is okay to have two different client connections from the device running at same time, living together connecting to the aws-iot service?

[2018-01-09 22:49] fengsongAWS commented on #179
That is totally fine thought there is an account level throughput limit and other limits as well so you cannot have infinite connect sessions in the end. For your reference. https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot

[2018-01-12 10:27] danilotorrisi commented on #169
Hi everybody,
the problem seems to be related to the WebSocket browser implementation. From what I understand, the WebSocket browser implementation does not accept custom HTTP headers via the option parameters.

[2018-01-16 18:07] matiasdecarli opened #180 "Correct Use Case?"
I'm using AWS IoT to connect different devices to a `node.js` backend that will allow a client (web, mobile, etc) to see the status of the devices

On the devices, I'm publishing to a topic using the Device Object. Then, from the `node.js` Backend, I'm also using a Device Object to "listen" to devices via `subscribe`

I have a couple of questions. (1) Is this the correct use case for the Devices O

[2018-01-16 18:13] fengsongAWS commented on #177
Hi @rococtz , That filed is used for customer who wants to use custom auth feature. If you do not want to set up custom auth, you can simply ignore that. For your web browser, you can setup coginito and websocket connection using IAM credentials.

[2018-01-16 18:39] fengsongAWS commented on #180
Hi @matiasdecarli ,
1. If you do not want to use shadow feature, the device is the correct object you should use to do pub/sub.
2. The connection is differentiated by client Id. Each client Id should be unique to each session. If all the devices are using different client Ids, you can get all the deivces connected as long as they do not exceed the throttling limit.

[2018-01-16 18:56] matiasdecarli commented on #180
1 - Great. I'll be using the Device object both from the device and from the backend in this case

2 - I understand that each device should have a uniqueId, but is there any way to get all connected devices, or I need to develop this feature myself on the backend using some sort of record count?

Thanks again

[2018-01-16 19:57] fengsongAWS commented on #180
For 2. Yes, you need to implement it your self because this is not quite a generic use case so the SDK does not include it. The AWS IoT Node.js SDK targets for customers who can quickly get  onboard on AWS IoT Service so it might be missing some specific use cases. We will be looking into more in the future release.

[2018-01-16 20:37] daviian commented on #154
Any update on this?

[2018-01-16 22:28] RameshRM opened #181 "Published messages are lost"
Hi ,

I use [iot-data](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/IotData.html) from my Lambda to publish messages to all the clients. The messages are never received by the devices, they do work when the connections are warm.

Can you help me on trouble shooting this

JUST a FYI.. All the clients connect w/single Device CERT

[2018-01-16 22:34] fengsongAWS commented on #181
There are a few things you can verify.
1. Subscribe to the same topic using IoT console to see if you are able to receive messages. If not, there must be some problems when lambda publishing messages.
2. If you can receive message using console but not able to receive messages from device, double check your IoT Policy that you attached to certificate. Make sure you have correct policy or * on both

[2018-01-17 00:02] RameshRM commented on #181
@fengsongAWS Thanks for ur reply, I should have been more clear w/my question ,

It is not like i never able to subscribe to message, I am able to subscribe when the server started up and for a while after that I am not able to subscribe the messages and the Console subscription is good.

Thanks

Ramesh

[2018-01-17 00:12] fengsongAWS commented on #181
Could you elaborate the use case? What server you are using to subscribe? What do you mean by saying you are able to subscribe for a while?

[2018-01-17 00:16] RameshRM commented on #181
The server is a `nodejs` server using the `aws-device-sdk` and the publisher is a `nodejs lambda`

The subscription is good when the server is started and able to see the messages are comming throu, after a while (I havent timed it)  I dont see any incomming messages.

[2018-01-17 18:30] fengsongAWS commented on #181
Since you were able to subscribe and receive messages initially, that means you setup the rules engine, cert, policy correctly and the device SDK works fine. Also you mentioned that you try subscribing topics using console at the same time and the console could also receive messages. This probably is not related to SDK and I would recommend you look into your node.js server setup and running.

[2018-01-17 18:35] RameshRM commented on #181
Ok, Thanks, One another quick question, which port the SDK Runs to subscribe message runs ?

[2018-01-17 19:43] fengsongAWS commented on #181
MQTT over TLS with mutual certificate authentication using port 8883
MQTT over WebSocket/TLS with SigV4 authentication using port 443

[2018-01-17 21:57] mattman73 opened #182 "send message to iot device"
Sorry to ask but I have been trying to work out how to send to my iot device, I have the device-example.js running and I can send test messages from 'Configure and test your device' page on AWS but I would like to now send messages from my 'Lambda' echo skill Node.js code.
I have tried to follow the SDK and reading on the web but as yet I have not managed to get it connected.
Please can anyone giv

[2018-01-17 22:18] fengsongAWS commented on #182
If you are trying to do publish from lambda function, you should use aws sdk java script. Link is here: https://github.com/aws/aws-sdk-js  As for how to get start with Lambda function, you fould follow the lambda page here https://aws.amazon.com/lambda/ and developer guide here https://docs.aws.amazon.com/lambda/latest/dg/welcome.html.

This repo is mostly for AWS IoT Device SDK. If you have more

[2018-01-17 22:43] fengsongAWS commented on #171
Please open another thread if you still have questions.

[2018-01-17 22:43] #171 closed

[2018-01-17 22:44] fengsongAWS commented on #173
Please open another thread if you still have questions.

[2018-01-17 22:44] #173 closed

[2018-01-17 22:44] fengsongAWS commented on #174
Please open another thread if you still have questions.

[2018-01-17 22:44] #174 closed

[2018-01-17 22:45] fengsongAWS commented on #177
Please open another thread if you still have questions.

[2018-01-17 22:45] #177 closed

[2018-01-17 22:45] fengsongAWS commented on #179
Please open another thread if you still have questions.

[2018-01-17 22:45] #179 closed

[2018-01-17 22:45] fengsongAWS commented on #167
Please open another thread if you still have questions.

[2018-01-17 22:45] #167 closed

[2018-01-17 22:46] fengsongAWS commented on #178
Thanks for your interest in Device SDK. Please open another thread if you still have questions.

[2018-01-17 22:46] #178 closed

[2018-01-18 17:15] soundarsurya commented on #97
@fengsongAWS
while i execute my lambda function i got this error in my console log

{
  "errorMessage": "Invalid connect options supplied.",
  "errorType": "Error",
  "stackTrace": [
    "Object.Module._extensions..js (module.js:579:10)",
    "Module.load (module.js:487:32)",
    "tryModuleLoad (module.js:446:12)",
    "Function.Module._load (module.js:438:3)"
  ]
}

how could it be fixed...???
i

[2018-01-18 19:35] mlfarrell commented on #169
I just stumbled onto this today.  Does that mean you can't do custom iot auth in the browser at all??  That is what I've been working towards for a day now.  Are we forced to use cognito?

[2018-01-18 20:02] pflugs30 opened #183 "Issue with windows-browserize.bat: 'C:\Program' is not recognized as an internal or external command, operable program or batch file"
I was attempting to run the windows-browserize.bat file on the Lifecycle browser example on my Windows 7 x64 desktop.  When I executed the command `.\scripts\windows-browserize.bat examples/browser/lifecycle/index.js` in the **aws-iot-device-sdk-js** root directory, I received the error "`C:\Program' is not recognized as an internal or external command, operable program or batch file`".

I first e

[2018-01-18 21:26] fengsongAWS commented on #183
Hi @pflugs30 ,
Thanks for your input for AWS IoT Node.js SDK. Please feel free to describe the issue and create a pull request on this. We will verify this and include it in the future release if it turns out to be a general issue. This will also be a good reference to other people who have similar issues.

[2018-01-18 22:38] fengsongAWS commented on #169
Hi @mlfarrell ,
As mentioned by @liuszeng , unless there is a way to include those headers, the custom auth will not work in browser envrionment. Yes, for now, the SDK does not wrap web headers into the handshake request. And as usual, cognito is the recommended way to communicate with iot service cloud.

[2018-01-18 22:41] mlfarrell commented on #169
Put me on the list of people who definitely need custom auth in a browser and are requesting it.  I've heard (albeit I'm not a websockets expert) that there is a way to embed the info in the URL itself. Once it is possible, please add some kind of custom auth support to the SDK in the browser.

[2018-01-19 16:11] muthumani-prabhu opened #184 "Authorizing Direct Calls to AWS Services - Any working examples"
Any working examples which can explain the working of authorizing direct calls to AWS services (https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html). I tried all the possibilities to get it working, but no success so far. Would any of you please lend helping hand on this topic?

When I try accessing this link (https://<your-aws-account-id>.credentials.iot.region.amazo

[2018-01-19 21:45] fengsongAWS commented on #184
Hi @muthumani-prabhu ,
We do not have plans to add this to device sdk. You may refer to https://github.com/aws/aws-sdk-js aws javascript sdk which provide remote credential provider. I hope this thread might provide more background information to you .https://github.com/aws/aws-iot-device-sdk-cpp/issues/59

[2018-01-19 21:45] #184 closed

[2018-01-20 01:58] mlfarrell opened #185 "Where's the callback for failed auth"
Whats the sanctioned proper way to handle expiration of temporary IAM credentials using this SDK so I can detect the need to re authorize?

[2018-01-20 12:13] muthumani-prabhu commented on #184
Anyone with this issue, please follow this forum link https://forums.aws.amazon.com/thread.jspa?messageID=817558&tstart=0. You can definitely make it work :-).

[2018-01-21 11:58] IsoftTech opened #186 "not recognized as an internal or external command, operable program or batch file."
Am using Windows 10.
I have been using my terminal for some months and it works fine with laravel, but when i try to install nodejs, cordova and ionic, it works. But at some instance, it stopped working so i followed some suggestions after a thorough search on google, stackoverflow, and github i still could not figure it out. Now, each time I try to run any command it tells me:
Not recognized as a

[2018-01-22 18:44] mlfarrell commented on #185
Does offline have event data so that I can know the reason is failed auth vs just a timeout?

[2018-01-22 18:58] fengsongAWS commented on #185
No. The MQTT disconnect packet does not have payload or data. You will not know the error code.

[2018-01-25 06:45] soundarsurya opened #187 "thingshadow connection error"
finally when i run the lambda code i got the below error

{
"errorMessage": "Invalid connect options supplied.",
"errorType": "Error",
"stackTrace": [
"Function.DeviceClient (/var/task/node_modules/aws-iot-device-sdk/device/index.js:216:14)",
"new ThingShadowsClient (/var/task/node_modules/aws-iot-device-sdk/thing/index.js:123:30)",
"Object.ThingShadowsClient [as thingShadow] (/var/task/node_modul

[2018-01-25 13:38] soundarsurya commented on #97
hi @nbibin001,
well i have used the above method you said but while using thingshadow how it could be connect?

{
  "errorMessage": "Invalid connect options supplied.",
  "errorType": "Error",
  "stackTrace": [
    "new ThingShadowsClient (/var/task/node_modules/aws-iot-device-sdk/thing/index.js:123:30)",
    "Object.ThingShadowsClient [as thingShadow] (/var/task/node_modules/aws-iot-device-sdk/th

[2018-01-25 14:35] soundarsurya commented on #97
@knownothing8
how pubnub will be use in LAMBDA function?
help me to do...

[2018-01-25 17:50] liuszeng commented on #187
Hi @soundarsurya ,

Thank you very much for using AWS IoT Device SDK for Node.js.

Looks like there are some connect option configuration issue with your client. There are 5 places that could possibly emit the error `exceptions.INVALID_CONNECT_OPTIONS`:
https://github.com/aws/aws-iot-device-sdk-js/blob/master/device/index.js#L369
https://github.com/aws/aws-iot-device-sdk-js/blob/master/device/inde

[2018-01-25 17:57] soundarsurya commented on #187
Thanks for the reply liusu,
i didn't get what you say. so i have attached my whole module below.
will you fix the error in my code.
hope you reply and waiting for the message.
thanks in advance.

On Thu, Jan 25, 2018 at 11:21 PM, Liusu Zeng <notifications@github.com>
wrote:

[2018-01-25 18:26] liuszeng commented on #187
Hi @soundarsurya ,

I am not able to see your module details. Can you include it directly in the reply?

Thanks,
Liusu

[2018-01-26 06:11] soundarsurya commented on #187
yes liusu i have attached along with it..

if you not able to see then how can i send it to you..???

On Thu, Jan 25, 2018 at 11:56 PM, Liusu Zeng <notifications@github.com>
wrote:

[2018-01-26 06:14] soundarsurya commented on #187
hi @liuszeng
here is my module please have a look at it...
[AWS_test2.zip](https://github.com/aws/aws-iot-device-sdk-js/files/1666809/AWS_test2.zip)

hope you  get and fix my issue.

[2018-01-26 13:49] qamil opened #188 "mqttjs has a vulnerability"
This package currently uses version 2.14.0 of the mqttjs, which contains a vulnerability:

`MQTT.js 2.x.x prior to 2.15.0 issue in handling PUBLISH tickets may lead to an attacker causing a denial-of-service condition.`
see: https://nvd.nist.gov/vuln/detail/CVE-2017-10910

Version 2.15.0 of the package fixes this issue.
https://github.com/mqttjs/MQTT.js/releases

[2018-01-26 19:23] liuszeng commented on #187
Hi @soundarsurya ,

It is really a bad idea to expose credentials on public places like Github. I have removed the link from your previous comment. I strongly recommend you to revoke any related credentials to prevent potential issues.

At the same time, I will take a look at the source and get back to you once I find something.

Thanks,
Liusu

[2018-01-26 19:37] liuszeng commented on #187
Hi @soundarsurya ,

In `index.js`, you have the following lines:
[code]

Can you try include `host` and `port` in the `thingShadow` client initialization options? Your code should be like the following after the change:
[code]

By default, SDK will automatically use mutual authentication with certificate and configure the port for you once you have configured the host.

Hope the above helps.

Than

[2018-01-26 23:30] johnnyodonnell opened #189 "Initializing device in Elastic Beanstalk environment"
I am try to initialize the device class as part of an application in an Elastic Beanstalk environment. However, I continue to get the error `Failed to read credentials from /tmp/.aws/credentials`. This makes sense because my Elastic Beanstalk environment gets access to AWS services through its IAM role, rather than through a credentials file.

Thus, how do I initialize the device class when my env

[2018-01-27 00:15] johnnyodonnell commented on #189
Closing as this is a duplicate of https://github.com/aws/aws-iot-device-sdk-js/issues/133

[2018-01-27 00:15] #189 closed

[2018-01-27 05:11] soundarsurya commented on #187
hey @liuszeng thank you so much,
after adding "host" in thingshadow i get successful.
but one more doubt.,
i am not understand the line 19 to 24.
and how our intent will be connect to thingshadow? line: 91 & 99.

hope you having my codes.
waiting for reply....

thankyou,

[2018-01-27 05:27] soundarsurya commented on #187
in lambda function testing it gives execution result.(successful)
how i check my function is working correctly.?
how my skill is connect to thingshadow.
when i revoke from my configured skill it shows
"The remote endpoint could not be called, or the response it returned was invalid." like this...
how to fix this.

[2018-01-27 17:17] soundarsurya commented on #187
@liuszeng may i get your mail ID because i can't wait so long to get help from you.
if you feel nothing wrong just mail HI to "soundar.v1998@gmail.com"
or else sorry for asking this....

why i am asking is i have been working in this for 1 month but no response for anyside.
i get only from you.... so i can't wait till then.

thankyou,

[2018-01-29 14:52] soundarsurya commented on #187
@liuszeng waiting for your guideline......

[2018-01-30 00:03] liuszeng commented on #187
Hi @soundarsurya ,

For Alexa related questions, I would encourage you to start a new thread in the corresponding AWS Forums. See the link below:
https://forums.aws.amazon.com/forum.jspa?forumID=14

For Lambda related questions, I would encourage you to start a new thread in the corresponding AWS Forums. See the link below:
https://forums.aws.amazon.com/forum.jspa?forumID=186

If you still have qu

[2018-01-30 00:03] #187 closed

[2018-01-31 08:08] benariamir opened #191 "subscribing to an unauthorized topic causes connect/disconnect loop"
I've set an IAM policy such that a device can not subscribe to a topic named 'unauthroizedTopic'.
As expected - device was disconnected from AWS IoT.

Problem is that because autoResubscribe is on -> after it reconnects it tries to resubscribe to unauthroizedTopic, and again disconnects -> connects -> resubscribe --> disconnects --> connects --> resubscribe and so on.

No custom code to attach, ju

[2018-01-31 13:49] soundarsurya commented on #187
i have posted everywhere else but i didn't get any response.
finally i get results from here.
please let me help to finish my  project.

thankyou

[2018-01-31 15:08] hedeshianaws commented on #191
Thank you for using the AWS IoT SDK.  As you have observed, IoT will drop the connection in the event of an unauthorized subscription. Unfortunately, there is no error code or disconnect reason relayed to the client. That means that the SDK cannot intelligently determine that the re-subscription to the unauthorized topic is the cause of the disconnect.

Unfortunately, I don't think there is a gene

[2018-02-06 10:29] gruberb opened #192 "RootCACertificate - Where and how?"
When I register my device with the sdk, I need to provide:

- caPath
- certPath
- keyPath

I can download the  caCert and privateKey from the AWS IoT console. But what is the `YourRootCACertificate` and where do I get this from? I can download three files:

- xxx.certificate.pem.crt
- xxx.public.key
- xxx.private.key

This definetly needs clarification. Do I have to generate the `RootCACertificate

[2018-02-06 11:23] #192 closed

[2018-02-06 18:47] rajatprogrammer commented on #192
No, you don't generate your YourRootCACertificate because it is by default created by Amazon server you just download this file when you click on create certificate button the software 3 pem files one is public key and another one is  private Key and the Last one is rootCa file

[2018-02-06 19:33] fengsongAWS commented on #188
Update mqtt.js to v2.15.1 in AWS IoT Node.js SDK v2.2.1

[2018-02-06 19:33] #188 closed

[2018-02-06 19:33] #181 closed

[2018-02-06 19:33] #182 closed

[2018-02-06 19:33] #185 closed

[2018-02-06 19:33] #183 closed

[2018-02-06 19:34] #186 closed

[2018-02-08 20:30] rakesh-eltropy commented on #86
@MattyK14 Can we use your snippet in ReactJS app also? I am getting following error:

[code]

[2018-02-08 22:20] matszal commented on #97
Hi,
Any advice how to write lambda function to publish message to iot topic?

[2018-02-12 09:01] francophongvu opened #193 "How to implement the promise"
Hi,

As I know, AWS SDK supported Promise,
For example:
[code]
however, for this IoT SDK, I don't know how to implement like that. Could anyone give me example?

[2018-02-12 18:25] fengsongAWS commented on #193
Right now, IoT SDK does not implement promise API. This would be something we are interested and consider to implement in the future. So far, you may need to override and implement yourself if you do have this use case. Thanks for your interest in AWS IoT SDK.

[2018-02-12 18:54] #193 closed

[2018-02-12 19:03] hedeshianaws commented on #191
Miscategorized as bug, changing to enhancement.

[2018-02-12 22:22] greenbreakfast commented on #48
Hi @bhadrip @gkwicker
Regarding the original question: @bhadrip mentioned:

I understand this, but won't User 1's (valid) connection be broken by User 2's connection? In this case, User 2 can disrupt all communication to User 1's device.
I found a similar discussion (https://forums.aws.amazon.com/thread.jspa?threadID=227279) and it suggests creating two policies, one generic for shadow operations

[2018-02-16 18:39] James-Firth opened #194 "Device does not detect offline state/network connection loss"
I've created an instance of `awsIot.device` and wrapped it with some listeners. I'm doing this in-browser running the webserver locally.

I've noticed I'll get errors if I disable the network for my machine (at the os level) before the client tries to connect.

However, if I disable my networking after the connection has occurred even after waiting for over a minute.

I tried switching around the

[2018-02-16 20:13] enscripter commented on #86
I would also like to see instructions for React Native has there been any movement on this?

[2018-02-16 20:22] jamesjara commented on #86
Check my repo:
https://www.npmjs.com/package/react-native-aws-iot-device-shadows
I have added support for redux iot shadows

On Fri, Feb 16, 2018 at 2:13 PM, enscripter <notifications@github.com>
wrote:

--

*James Jara  jamesjara.com <http://jamesjara.com>*
*Software Developer*  M: +(506) 87944598
Computer Society Network Founder
Costa Rica Security team leader
Inventor of  x7cloud framework
pgp

[2018-02-16 21:36] enscripter commented on #86
Awesome I have tried this, but I only need to publish to a AWS Iot topic from react. Maybe I am looking in the wrong place I can use the cURL as suggested on the AWS docs:

curl --tlsv1.2 --cacert root-CA.crt --cert 4b7828d2e5-certificate.pem.crt --key 4b7828d2e5-private.pem.key -X POST -d "{ \"serialNumber\": \"G030JF053216F1BS\", \"clickType\": \"SINGLE\", \"batteryVoltage\": \"2000mV\" }" "http

[2018-02-17 00:01] jamesjara commented on #86
Certs are commonly used for thing device itself, for mobile or web use the
WSS protocol, with the STS credentials

On Fri, Feb 16, 2018 at 3:36 PM, enscripter <notifications@github.com>
wrote:

--

*James Jara  jamesjara.com <http://jamesjara.com>*
*Software Developer*  M: +(506) 87944598
Computer Society Network Founder
Costa Rica Security team leader
Inventor of  x7cloud framework
pgp MIT key
<h

[2018-02-18 03:44] enscripter commented on #86
Is that in your library? Would you happen to have a sample of publishing to a topic? I can't seem to find anything close to what I need to do

[2018-02-19 22:19] bailih opened #195 "import util in device/index.js"
got this error message:

"The package at "./node_modules/aws-iot-device-sdk/device/index.js" attempted to import the Node standard library module "util". It failed because React Native does not include the Node standard library. "

[2018-02-20 16:12] James-Firth commented on #194
I discovered the issue, it was multiple tabs open and a static (therefore repeated) `clientID`

[2018-02-20 16:12] #194 closed

[2018-02-22 09:54] RameshRM opened #196 "Unable to establish connection with MQTT"
TypeError: nextTick is not a function

Stack Trace :

mqtt/lib/client.js:37:2
mqtt/lib/client.js:286:3
mqtt/lib/client.js:227

FYI, This is used along with aws iot **aws-iot-device-sdk/device/index.js:639**

Suddenly hit with this issue right b4 launch preparation, can someone look @ this earliest

Thx

[2018-02-22 18:36] RameshRM commented on #196
Hi, can anyof you take a look at this at the earliest ? i am totally blocked for next release preparations

[2018-02-22 23:00] fengsongAWS commented on #196
This error is thrown from mqtt.js.

Did you run into this issue each time you start up your program? What environment are you using? Do you use SDK in browser or node ?
Are you able to run the sample code with basic setup or configuration?

[2018-02-22 23:14] RameshRM commented on #196
This started throwing up from yesterday and it is running on `node` `mqtt` folks think this may be `aws sdk` problem https://github.com/mqttjs/MQTT.js/issues/774

[2018-02-22 23:23] fengsongAWS commented on #196
How often did you see this error? Are you able to running samples successfully?

[2018-02-22 23:26] RameshRM commented on #196
I am not able to connect even once, this was successfully working and the messages were working fine until yday . I see this error as and when .i try to establish a connection

[2018-02-22 23:35] fengsongAWS commented on #196
The sdk is passing options to mqtt client at the first place. Are you able to run the sample code? Or is this something related to the way to invoke the client? Can you provide sample code to duplicate this?

[2018-02-22 23:38] RameshRM commented on #196
[code]

[2018-02-25 03:28] jamesladd opened #197 "require('aws-iot-device-sdk'); with React and Webpack ...."
Hi Aws Iot Team,

Brilliant piece of work on the SDK.

I have recently moved my project that makes use of the SDK without webpack to one that uses webpack.

My problem is that the webpack build of the project is getting errors when trying to 'package' the SDK.

I tried the instructions for building with webpack but that isn't working for me.
I get the following errors:

ERROR in ./node_modules/aws

[2018-02-25 05:00] jamesladd commented on #197
I have fixed this (at least it appears fixed)

In the webpack/webpack.base.babel.js I added the following line:

node: {
    fs: 'empty',
    tls: 'empty'
  },

Directly before the "modules" element. Eg:

node: {
    fs: 'empty',
    tls: 'empty'
  },
  module: {

Now webpack is not returning errors from a "npm run build:dll" like it was.

I have an

import awsIot from 'aws-iot-device-sdk';

That

[2018-02-26 11:45] Mayank-Volansys commented on #154
We are planning to use Greengrass, So, I am curious to know when AWS add support for Greengrass Discovery in JavaScript SDK

Please update me ASAP!

Thanks In Advance

[2018-02-26 11:55] Mayank-Volansys opened #198 "Support for Greengrass Discovery"
We are planning to use Greengrass, So, I am curious to know when AWS add support for Greengrass Discovery in JavaScript SDK

Please update me ASAP!

Thanks In Advance

[2018-02-26 18:49] fengsongAWS commented on #196
Sorry, I am not able to duplicate your problem. This would probably due to environment config. I would suggest you try using sample code and see if it works or not. And if necessary, start plainly with mqtt.js and see if you still encounter the issue. This will help you identify where the problem occurs.

[2018-02-26 19:02] fengsongAWS commented on #198
Hi @Mayank-Volansys ,

Thanks for your interest in AWS IoT Device SDK. We are working on Greengrass Discovery feature. However we cannot tell a specific release date at this point. I will get back to you as soon as we have that out. Please watch/fork the repo for a future release.

[2018-02-27 04:29] Mayank-Volansys commented on #198
Hi @fengsongAWS  ,

Thanks for letting us know about this update

[2018-03-01 17:52] coderbyheart opened #199 "wss://no-credentials-available/ when empty credentials for use with updateWebSocketCredentials()"
When constructing the MQTT client with empty credentials like in the [temperature example](https://github.com/aws/aws-iot-device-sdk-js/blob/a3ac8551095455993fbda05adc7c626dc228589e/examples/browser/temperature-monitor/index.js#L48) it tries to connect to `wss://no-credentials-available/` which produces a JS error.

![screenshot_20180301_185104](https://user-images.githubusercontent.com/188915/368

[2018-03-01 19:50] fengsongAWS commented on #199
Hi @coderbyheart ,
If you are using Cognito authentication, as shown in the comment, the AWS access key ID, secret key, and sesion token must be initialized with empty strings. The first connection failure is expected because it tries to avoid racing condition with cognitoIdentity.getCredentialsForIdentity. Once the cognito get credentials, you should have no problem of connecting to IoT.

[2018-03-01 19:51] #197 closed

[2018-03-01 22:45] coderbyheart commented on #199
Right, once I set the credentials the connection works.

This issue is about the one-time error, which I would rather not see in the console.

It would be great to have a way to construct the MQTT client directly in a way it uses credentials and not pre-signed URLs.

[2018-03-02 21:14] fengsongAWS commented on #199
The sample is executed in a synchronous way. The MQTT Client is able to take credentials directly and make the connection call. It is just the way of taking credentials. You could either modify it to sequentially get credential and pass into mqtt client or catch that exception and handle it your self and implement your own logic.

[2018-03-03 13:23] coderbyheart commented on #199
Could you clarify that?
I thought in order to force the client to not use pre-signed URLs I have to construct it with empty credentials first.

[2018-03-03 19:51] milanvadher opened #200 "Invalid connect options supplied"
Error: Invalid connect options supplied.
    at new DeviceClient (http://localhost:8100/build/vendor.js:64939:19)
    at Object.312 (http://localhost:8100/build/main.js:303:14)
    at __webpack_require__ (http://localhost:8100/build/vendor.js:55:30)
    at Object.261 (http://localhost:8100/build/main.js:151:85)
    at __webpack_require__ (http://localhost:8100/build/vendor.js:55:30)
    at Object.

[2018-03-05 07:28] SLdragon opened #201 "Sample code of Jobs Class is not working"
The sample code in the README.md of Jobs Class is not working,

`ReferenceError: thingName is not defined`

[2018-03-05 18:31] fengsongAWS commented on #200
This means you have some required parameters not provided such as key, cert or IAM credentials. Please look into example and see if you are running them successfully.

[2018-03-05 18:38] fengsongAWS commented on #199
What I mean is you can implement your own logic and get credentials first. Then you can initial the client with your credentials e.g. put the client into the callback of something like get credential functions but this is out of scope of this sample.

[2018-03-05 18:52] lucasowens opened #202 "Question: Sending events to a device during unit testing."
Is there a way for me to simulate the various device events in a unit test? I would like to send events like 'connect' to a device manually in a unit testing env. Is this possible?

[2018-03-05 18:59] fengsongAWS commented on #202
By unit testing, what do you mean sending events? Normally this should happen in the same environment where you mock the device or MQTT client. If you are talking about sending mock mqtt server, e.g. sending connack when some devices making a connect call, then you would probably build up a local message broker and do authentication.

[2018-03-05 19:01] fengsongAWS commented on #196
Close this thread for now. Please open another thread if you have more questions.

[2018-03-05 19:01] #196 closed

[2018-03-05 19:12] lucasowens commented on #202
I was thinking about what I was testing incorrectly, Thank you for the quick response! I will close this.

[2018-03-05 19:12] #202 closed

[2018-03-07 14:42] viotti commented on #86
I was able to make a RN 0.53 app communicate with the MQTT broker on AWS via WSS with the following steps.

First, install the AWS SDK JS and the AWS IoT Device SDK.

    npm install --save aws-sdk aws-iot-device-sdk

Then, install RN Nodeify.

    npm install --save-dev rn-nodeify

Use RN Nodeify to install eight Node libraries: **fs**, **util**, **path**, **tls**, **stream**, **buffer**, **globa

[2018-03-12 14:07] sanonyii commented on #97
@BaranEm  Have you got lambda code for publish only. I am using loop_forever but because of this my lambda code is keep on execting. anyway i can disconnect after publish

[2018-03-12 21:26] matszal commented on #97
@sanonyii - this code should send a message hello 2 to your topic

import boto3
import json

client = boto3.client('iot-data', region_name='eu-west-1')

pay = 'hello2'
# Change topic, qos and payload
def lambda_handler(event, context):
    response = client.publish(
        topic='mytopic/iot',
        qos=1,
        payload=pay
    )

[2018-03-12 22:11] fengsongAWS commented on #200
Please reopen this issue if you still have problems.

[2018-03-12 22:11] #200 closed

[2018-03-27 07:18] vit21ik commented on #169
This code is correct but it doesn't work in browser because browser websocket client doesn't support custom headers.
This client works on nodejs.

[2018-03-28 05:55] goyalhonney opened #204 "Can this library be used as Mqtt bridge"
I am planning to use a ec2 server which acts as a bridge between aws iot and my mobile devices.
I read that this can be implemented using mosquitto bridge and aws-iot.
But which will have better performance mosquitto bridge or aws-iot-device-sdk library.
My main purpose is to Subscribe to topic for mqtt.

[2018-03-28 08:35] ghost opened #205 "Implementing Request/Reply in AWS Lambda"
Currently I am working on a Lambda function used by API Gateway to implement a Request/Reply for communication with a device. The below code is working fine when it is executed the first time:

[code]

The first time, the log is:

All other executions do not execute the publish of the message:

When I put the instantiation of the device into the handler, then it works for all executions, but is ve

[2018-03-28 18:25] fengsongAWS commented on #205
Hi,
MQTT is long live connection. So it is against this behavior when you apply aws iot device sdk which is mqtt based connection in AWS Lambda function since the latter will be killed once the execution finished. I would recommend AWS SDK in node.js for your purpose to do one time publish in HTTP request.
Please take reference from here: https://github.com/aws/aws-sdk-js

[2018-03-28 18:27] fengsongAWS commented on #204
The aws iot device sdk library provides better support for onbaording aws iot. I do not have a clear understanding on which one has better performance regarding efficiency, CPU memory usage etc. This really depends on customer use cases. However, it is definitely less work and efforts by using device sdk in order to onboard with AWS IoT.

[2018-03-29 07:42] kirnberger commented on #205
Hi fengsong,

indeed, my first attempt was using the aws sdk, but I realized, that the sdk only supports publishing messages to a mqtt topic:

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/IotData.html

 But my challenge is to use mqtt in a synchronous way. I want to send a message to a topic and listening on a reply topic for the response in the same lambda function:

- subscribe to the

[2018-03-29 19:16] fengsongAWS commented on #205
Back to your initial questions, after the first execution, the device object does not exist in lambda container if the lambda container finished. And you have to put instantiation in handler because that is the entry point of lambda invocation.  The reason that execution is slow is probably related to lambda cold start. That is my initial guessing. If you want to learn more about lambda and questi

[2018-04-03 00:34] devinbostIL opened #207 "Trouble using with Require.js"
Hi,

We're having issues getting this code imported into a client application that uses require.js. We're getting an error that the module is not defined, like this: https://stackoverflow.com/questions/29652716/module-exports-module-is-not-defined

We tried using the instructions here: http://requirejs.org/docs/commonjs.html#autoconversion
to convert it to the asynchronous module definition (AMD)

[2018-04-03 14:28] aravind08 commented on #185
@fengsongAWS I'm starting to face this issue since last week after updating the ionic 3.5 -> 3.20.

Here's my `ionic info`:

cli packages: (/Users/xxx/.nvm/versions/node/v9.8.0/lib/node_modules)

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 7.1.0

local packages:

    @ionic/app-scripts : 3.1.8
    Cordova Platforms  : android 7.1.0 b

[2018-04-04 00:54] fengsongAWS commented on #207
Hi @devinbostIL ,
Thanks for your interest in IoT Device SDK. This seems more likely related to the specific platform setup and compatibility. We did not test the SDK with require.js module and unfortunately, I am not able to duplicate the issue here.

[2018-04-15 21:49] juppdes commented on #30
@Krieke you have solved the question ?

[2018-04-16 14:14] juppdes opened #209 "Nuxt + aws-iot-device-sdk"
I create a plugin like this:

var awsIot = require('aws-iot-device-sdk')
var device = awsIot.device({
keyPath: 'xxxxxx,
certPath: 'xxxxxx,
caPath: 'xxxxxx',
clientId: 'xxxxx',
region: 'xxxxxx',
host: 'xxxxxxxxxx.amazonaws.com'
})

Work´s, but display a error message:

C:\Sistemas\AM\nodemodules\aws-iot-device-sdk\common\lib\tls-reader.js:89 Uncaught TypeError: filesys.existsSync is not a function

[2018-04-16 15:51] Leobute commented on #209
Hi juppdes,
I'm implementing a very similar scenario like yours.
I have problem making mqtt connecting with my aws-iot thing.
Can you please help me ?

[2018-04-16 15:51] Leobute commented on #209
exports.handler = (event, context, callback) => {
    try {
        console.log(`event.session.application.applicationId=${event.session.application.applicationId}`);

        /**
         * Uncomment this if statement and populate with your skill's application ID to
         * prevent someone else from configuring a skill that sends requests to this function.
         */
        /*
        if (ev

[2018-04-16 18:41] juppdes commented on #209
@Leobute unfortunately I have not been able to solve the problem yet. In case I get any light, I warn you.

[2018-04-16 18:57] Leobute commented on #209
Thanks a lot !!!!!!!!!!!!!!!!!!!!!

[2018-04-16 21:04] fengsongAWS commented on #209
Are you trying to access local fire disk in web environment? Can you try using websocket connections to see if the problem still exists?

[2018-04-16 21:25] Leobute commented on #209
HI all.
Thanks a lot anyway.
My lambda function works answering my invocation and intents.
Second step should be, using mqtt to communicaste with my raspberriPi3.

[2018-04-16 21:26] Leobute commented on #209
Below my lambda function that doesn't work when connecting to iot raspberry

`'use strict';

/**
 * This sample demonstrates a simple skill built with the Amazon Alexa Skills Kit.
 * The Intent Schema, Custom Slots, and Sample Utterances for this skill, as well as
 * testing instructions are located at http://amzn.to/1LzFrj6
 *
 * For additional samples, visit the Alexa Skills Kit Getting Started

[2018-04-16 21:30] Leobute commented on #209
I thinks there is something wrong with my "function mqttPublish"

[2018-04-16 21:31] Leobute commented on #209
`'use strict';

/**
 * This sample demonstrates a simple skill built with the Amazon Alexa Skills Kit.
 * The Intent Schema, Custom Slots, and Sample Utterances for this skill, as well as
 * testing instructions are located at http://amzn.to/1LzFrj6
 *
 * For additional samples, visit the Alexa Skills Kit Getting Started guide at
 * http://amzn.to/1LGWsLG
 */

const awsIot = require("aws-iot-devic

[2018-04-18 18:58] fengsongAWS commented on #209
Hi @juppdes ,
The web browser environment has some compatibility issues with tls and fs library. This should not happen in Node.js engine though. This is same for use with browserify and webpack library also. By defining them as empty is a workaround on that.

[2018-04-18 20:35] juppdes commented on #209
Hello @fengsongAWS .. yes, but solving this issue of FS and TLS, the other problem occurs which is the error message:

_C:\Sistemas\AM\nodemodules\aws-iot-device-sdk\common\lib\tls-reader.js:89 Uncaught TypeError: filesys.existsSync is not a function at webpackJsonp../nodemodules/aws-iot-device-sdk/common/lib/tls-reader.js.module.exports_

it displays this message, but it works normally.
I would l

[2018-04-20 14:46] nodejs-apps opened #210 "Callback problem when trying to register already registered thing"
_register_ function in **/thing/index.js** doesn't call callback function if the thing already registered and process hangs on. Managing registered things in the app state and don't trying to register them again may be a solution but adding  `callback()` in line 618 would be a better solution.

[2018-04-20 18:04] fengsongAWS commented on #210
Hi @nodejs-apps ,
Thanks for your interest in Node.js SDK. Please feel free to submit a PR if you think about a better solution. We will take it through our internal pipeline and consider to release it in the future.

Thanks,
Fengyi

[2018-04-20 18:05] fengsongAWS commented on #204
Please open another thread if you still have questions.

[2018-04-20 18:05] #204 closed

[2018-04-23 18:38] fengsongAWS commented on #209
I think this is probably due to missing fs module which webpack does not recognize but since you are not using this module, it will not affect your functionality. This is pretty much a compatibility issue and a lot of different web framework has. To resolve this issue, you probably need to modify source code to remove reference of fs modules such as existsSync.

[2018-04-25 06:09] ycy88 commented on #200
For anyone who reads this, I got this error while porting over code that worked previously on Version 1 of the SDK. From version 2.x.x onwards you need to pass in a "host" property under your connect options.

[2018-04-25 17:35] juppdes commented on #209
@fengsongAWS Ok.. Where could I download the unminimized source code so I can make the adjustments manually?

[2018-04-25 18:53] fengsongAWS commented on #209
I am not familiar with Nuxt plug in. Can you pull down from Github and load it?

[2018-04-25 21:26] deejvince opened #212 "Require http proxy support"
We have IOT devices which we require to use the wss protocol to connect to AWS-IOT. (JOBS api).

These devices are sometimes in corporate networks that requires to use an explicit proxy.

The SDK doesn’t have support for a Proxy - but we think it’s mandatory to support these use cases.

Would like to see proxy support in the JavaScript device-sdk.

[2018-04-25 21:35] fengsongAWS commented on #212
Hi @deejvince ,
Thanks for the feature request. We will take this into account and take appropriate plans on it. At the same time, please feel free to submit a pull request if you have some thoughts on it as well.

[2018-04-25 21:40] juppdes commented on #209
@fengsongAWS  Sure. Thank you !

[2018-04-25 21:40] #209 closed

[2018-04-27 09:20] Oxbowl opened #213 "Using Lambda Function to Connect to AWS IoT and set it as Actions of IFTTT"
Hi there everyone, I was trying to develop a lambda function which will connect to the AWS thing and publish an MQTT message, I want to receive these published messages on a Raspberry Pi which is connected to my room lights as well.

I managed to create the simple mobile app to control my room lights and Air-conditions. But the problem now that I wanted to configure the Lambda function and AWS IoT

[2018-04-27 15:31] liuszeng commented on #210
Closing as it is captured in the following PR:
https://github.com/aws/aws-iot-device-sdk-js/pull/211

[2018-04-27 15:31] #210 closed

[2018-04-29 08:00] waynerobinson commented on #169
This is definitely something that we also require and I've just lost multiple days to this issue.

If you don't plan on supporting `wss-custom-auth` in this library, you might want to at least mention that this authentication mode doesn't work for browser in the README somewhere.

[2018-04-30 16:17] AWSSteveHa commented on #169
Hi @waynerobinson,
I apologize for your difficulties with this. We are investigating how to overcome this limitation so we can enable custom auth support in the browser. You also raise a good point that there should be mention of this issue in the README. I'll make sure we address that.
Thank you.

[2018-04-30 16:24] deejvince commented on #212
Hi,

We have submitted a pull request for supporting an http proxy for websockets

[2018-04-30 20:39] xuaoran commented on #212
Hi @deejvince ,

Thank you for the pull request. We have seen a pull request and want to make sure that it is from yours: (the requester name is not yours)

https://github.com/aws/aws-iot-device-sdk-js/pull/214

[2018-05-01 03:47] deejvince commented on #212
Yes, that is the correct pull request.

[2018-05-03 12:08] richardlevano commented on #86
Any update on React-Native integration with aws IoT.
Does anybody has working example to subscribe/publish to the aws broker? Plain mqtt not to shadows.

Thanks

[2018-05-03 13:27] Tee88 opened #215 "What is the maximum value of offlineQueue?"
What is the maximum value of offlineQueue?

[2018-05-03 15:17] dushyantbangal opened #216 "Getting connection status"
How do I check if the client is connected or not?

From the Device class example, I understand that the Device is an instance returned by mqtt.Client()
mqtt.js has a `connected` flag https://github.com/mqttjs/MQTT.js#connected

However, `device.connected` gives me `undefined`

[2018-05-03 17:30] xuaoran commented on #216
Hi @dushyantbangal

Can you provide more details how you use `device.connected`?

Thanks,
Aoran

[2018-05-03 17:50] fengsongAWS commented on #216
Hi @dushyantbangal ,
The connected variable is not exposed at this time. We will consider use cases like this in the future. For now, the connect call back will be triggered once the client is connected. You can also maintain a variable like this. This is also how mqtt.js maintain `connected` variable

[2018-05-03 17:54] fengsongAWS commented on #213
AWS IoT Device SDK is based on MQTT protocol which is long live connection. That's where you also get concept of `subscribe`. In this case, this SDK is not designed for use in Lambda function. If you only care about doing publish once and do not care about long live functionality e.g. subscribe. You are recommended to use AWS SDK in lambda function. For example https://github.com/aws/aws-sdk-js .

[2018-05-03 19:28] dushyantbangal commented on #216
@xuaoran my idea was to check `if(device.connected)` before I call publish.
@fengsongAWS is there any way to put timeout on a publish call? I noticed the callback is never called when there is loss in connectivity.

[2018-05-04 01:02] Oxbowl commented on #213
Thanks, Will try to figure out first

[2018-05-06 22:38] rclai opened #217 "Question: do clients automatically disconnect after detaching authorization policies?"
Not sure where the right place is to ask this.

I am testing a setup where I'm using Cognito identities to interact with the IOT platform. I tested with full `iot:*` access.

I managed to connect to the broker via `getOpenIdTokenForDeveloperIdentity` then `getCredentialsForIdentity` to pass the credential data to `updateWebSocketCredentials`. Then I wanted to see what happens if I detach the `iot:

[2018-05-06 23:04] rclai opened #218 "Minimum amount of IAM policies to get example apps here working?"
I have the following IAM policy attached to a Cognito identity pool:
[code]
I was able to connect to the broker and subscribe to my things, but the `shadow.get` and `shadow.update` methods are not working for some reason and are emitting `timeout` events. What am I missing in my policy?

Obviously, everything works if I use `iot:*`

[2018-05-06 23:17] rclai commented on #218
Figured it out. I forgot to add "iot:Receive"

[2018-05-06 23:17] #218 closed

[2018-05-07 16:32] dushyantbangal opened #219 "Forward the publish message to mqtt.js even when offlineQueueing is false"
MQTT.js has its own queuing mechanism and store to persist the packets if the device is offline.
It handles the condition way better than `aws-iot-device-sdk`.

Refer to the issue:
https://github.com/mqttjs/MQTT.js/issues/818

When the connection is not made, and `publish` is called, `aws-iot-device-sdk` maintains its own offline queue. However, if the device is restarted, the data is lost. MQTT.j

[2018-05-07 21:16] fengsongAWS commented on #216
why do you want to put timeout in a publish call? Are you using qos 1? Which callback is never triggered? Connect callback or publish callback?

[2018-05-07 21:36] fengsongAWS commented on #219
You are right that iot-device-sdk does not support persistent storage. It handles the offline logic for the reason of better handling throttling, AWS IoT limit and etc. For example, AWS IoT could only support subscription of 8 topics at once and mqtt.js would dump everything in the topic array to IoT which will cause failures. We will be working on improvement of this SDK and at the same time, ple

[2018-05-07 21:38] fengsongAWS commented on #213
Please open another thread if you still have questions.

[2018-05-07 21:38] #213 closed

[2018-05-07 21:39] fengsongAWS commented on #212
Tracking in this https://github.com/aws/aws-iot-device-sdk-js/pull/214 . Close this thread for now.

[2018-05-07 21:39] #212 closed

[2018-05-08 03:07] rclai commented on #217
I had set the shadow instance to ping every 5 seconds, but it kept ping ponging just fine after I had detached the policy. Only when I refreshed the page did it not let me in anymore.

[2018-05-08 03:20] rclai opened #220 "Unsure about the end of the shadow update lifecycle"
I'm trying to build the following flow where I have:

1. A mobile app
2. A thing (a light bulb in this example)

I understand that if I want the app to turn on the light I would update the shadow by setting `state.desired.on` to `true`. This would then give me a status of `accepted` (or `rejected`/`timeout`), then a `delta` would also be published (which the app apparently also receives), which wi

[2018-05-08 11:10] rclai commented on #86
I'd like to add to @viotti's solution that you also need to install the `url` and `events` as part of the `npx rn-nodeify --install` script.

[2018-05-08 20:32] fengsongAWS commented on #220
The accepted status event will tell you that your operation is accepted. By receiving accepted event, your mobile app should assume that the update was successful.

The `foreignStageChange` event is triggered by third `controller` (you can think of a third switch) which tries to turn on the light bulb in your case. So, your first switch should be always in sync with the status of lights and should

[2018-05-08 22:55] rclai commented on #220
Thanks for the info on `foreignStageChange`.

How can I possibly use the update/accepted status as my way of knowing that the light actually turned on if it only indicates that the shadow was updated? I need proof from the light (device) that it turned itself on. Isn't that why the device is supposed to update the shadow with its newly `reported` state? I'd like to know how the mobile app knows wh

[2018-05-09 02:37] rclai commented on #220
If I'm not mistaken, looks like I can listen to `foreignStageChange` to know that the light turned on.

[2018-05-09 02:37] #220 closed

[2018-05-09 12:26] dushyantbangal commented on #219
@fengsongAWS, actually, it does support persistent storage in a way.
When the connection goes offline, the SDK takes a while to detect the event and `_filling()` still returns false. Hence, the queuing used here is the one build in MQTT.js
If you use a store there, the packets are stored in that store.

I thought of sending a PR by removing the `if` at
https://github.com/aws/aws-iot-device-sdk-js/

[2018-05-10 04:28] SanyasiraoM commented on #86
@rclai @richardlevano What about https://aws.github.io/aws-amplify/media/pub_sub_guide#aws-iot?

[2018-05-10 23:04] fengsongAWS commented on #219
What if you turn off offlineQueueing and does that give you a way of using MQTT.js queue?

[2018-05-10 23:09] fengsongAWS commented on #217
This is more about control plane API and not quite related to SDK. Please go to  [IoT Forum](https://forums.aws.amazon.com/forum.jspa?forumID=210) and create a thread there. Someone will help you from there.
Thanks.

[2018-05-10 23:25] webmaxru commented on #169
Hi! If anybody uses Node-RED: I added a Custom Authorizer to the AWS IoT node: https://www.npmjs.com/package/node-red-contrib-aws-iot-custom-auth

[2018-05-10 23:27] mlfarrell commented on #169
Gonna add in my two cents and unsub.  I solved this for myself by returning a STS temporary credential (a role that has IOT access) back to the client through a token-protected web API (I implemented the API via api gateway + lambda + custom authorizers).  I then used the temporary STS creds to initialize iot with no problems.  This should hold anyone over until the above is resolved.

[2018-05-10 23:28] mlfarrell commented on #169
lol I just read mooyoul's comment

[2018-05-11 01:36] thecloudslayer opened #221 "403 ForbiddenException: null updateThingShadow"
I have been hacking at this all day. I can do iotdata.getThingShadow from working with service objects in aws-amplify but for some reason i get a brutal 403 when i try to iotdata.updateThingShadow. I busted out Postman and everything seems to work raw API. Any help would go a long long long way before i become a farmer.

Auth.currentCredentials()
            .then(credentials => {

[2018-05-11 01:53] thecloudslayer commented on #221
needed to add "iot:UpdateThingShadow" to the local cert in IOT web console for thing.

[2018-05-11 01:53] #221 closed

[2018-05-12 11:56] sasasavic82 opened #222 "running sample application on raspberrypi zero w getting premature close error"
working fine on my mac, transferred the sample app onto raspberry pi zero w, getting the below

any ideas? I have all the certs, and everything required to connect.

[code]

[2018-05-12 15:17] rclai commented on #86
What? So if Amplify exists, what does it make of this SDK?

[2018-05-13 10:15] sasasavic82 commented on #222
I did some more digging. F```
rom my mac, i see this:

➜ telnet a1o1xryvmqvun7.iot.us-east-1.amazonaws.com 8883
Trying 52.0.89.237...
Connected to dualstack.iotmoonraker-u-elb-1bkszq0bvnbyv-1001897703.us-east-1.elb.amazonaws.com.
Escape character is '^]'.
[code]
pi@pids01iot150:~/iot/node_modules/end-of-stream $ telnet a1o1xryvmqvun7.iot.us-east-1.amazonaws.com 8883
s
a
^C
[code]
pi@pids01iot150:~

[2018-05-13 10:51] sasasavic82 commented on #222
Furthermore, when I do tcpdump:

[code]

First one returns zero packets captured when attempting to telnet to **a1o1xryvmqvun7.iot.us-east-1.amazonaws.com**

but captures when i attempt on: **dualstack.iotmoonraker-u-elb-1bkszq0bvnbyv-1001897703.us-east-1.elb.amazonaws.com**

really bizzare ...

[2018-05-13 11:35] sasasavic82 commented on #222
Ok .. for anybody experiencing this issue, it was the DNS resolution.

just make sure to add the IP address of the AWS IoT endpoint for your specific region in **/etc/hosts** file

XXX.XXX.XXX.XXX   XXXXXXXXX.iot.us-east-1.amazonaws.com

[2018-05-13 11:35] #222 closed

[2018-05-14 16:03] czechk opened #223 "Integration with Angular 6"
Hi
We are having build breaks after migrating to Angular 6.
This could possible to ( https://github.com/angular/angular-cli/issues/9827#issuecomment-369578814 )

ERROR in ./node_modules/aws-iot-device-sdk/common/lib/tls-reader.js
Module not found: Error: Can't resolve 'fs' in '/../node_modules/aws-iot-device-sdk/common/lib'
ERROR in ./node_modules/aws-iot-device-sdk/device/index.js
Module not foun

[2018-05-14 18:52] gkwicker commented on #217
Hi @rclai, it can take a few minutes for policy changes to take effect on existing connections, but for new connections you should notice the change immediately.  See [this AWS Forum Post](https://forums.aws.amazon.com/thread.jspa?messageID=703662) for more information.  Let us know if this information is helpful, and thanks for using AWS IoT.

[2018-05-15 04:10] SanyasiraoM commented on #86
@rclai I also don't know exactly

[2018-05-15 16:04] jamesjara commented on #86
use my repo
https://github.com/jamesjara/react-native-aws-iot-device-shadows

Access directly to the mqtt rather than the shadow

On Mon, May 14, 2018 at 10:10 PM, SanyasiraoM <notifications@github.com>
wrote:

--

*James Jara  jamesjara.com <http://jamesjara.com>*
*Software Developer*  M: +(506) 87944598
Computer Society Network Founder
Costa Rica Security team leader
Inventor of  x7cloud framewo

[2018-05-15 17:50] fengsongAWS commented on #223
Hi @czechk ,
It seems that you need to disable fs in angular environment. This was always the problem different in node and web. We do not test this sdk in angular environment yet and we will see what we can do in the future to better support web environment. At the same time, please feel free to submit pr if you have some thoughts on it.

[2018-05-15 19:41] beaksandclaws opened #224 "Feature Request: Option to pass in pre-signed URL"
Working with this SDK in the browser, it would be nice if I could initialize with a pre-signed URL that I provide instead of having to generate one using an `accessKey` and `secretKey`.

[2018-05-15 23:35] fengsongAWS commented on #224
Hi @beaksandclaws ,
Thanks for your interest. We will look into this in the future.

[2018-05-16 16:52] thecloudslayer opened #225 "job-examples.js not working"
I'm having issues running job-example.js i keep getting.

const jobsModule = require('..').jobs;

Error: Cannot find module '..'
    at Function.Module._resolveFilename (module.js:538:15)
    at Function.Module._load (module.js:468:25)
    at Module.require (module.js:587:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/Users/taylor/repo/chm/desktop/test-job.js:21:20)

[2018-05-16 22:55] matiasdecarli opened #226 "Not reciving messages after a while"
Hello, I'm experiencing some issue with this library

I have a `node.js` app running on a Raspberry Pi. The connection is done successfully and I can send / receive messages, but after a while (sometimes 20 minutes, sometimes 4 hours), I stop receiving messages.

I'm running this application in several machines and not all of them experience the same issue. Also, when I stop receiving messages, af

[2018-05-17 17:39] fengsongAWS commented on #226
Can you check your cloudwatch log to see what are the reasons that you have been disconnected?

[2018-05-17 19:49] fengsongAWS commented on #226
The log should tell you the reason why you disconnected or why is it unable to deliver the messages.

[2018-05-17 19:57] fengsongAWS commented on #226
Also, you can do some search or narrow down the timeline when you met the error from cloudwatch. Just to make sure you are in the stream of iot logs e.g. AWSIotLogs

[2018-05-17 21:13] matiasdecarli commented on #226
Ok, so... i did this test. I have the app subscribed (and also publishing) messages to certain topics. At the same time, every 1 minute, I made a curl via `request` to a website to check connectivity via `https`

After a while, I stopped receiving messages via the subscribed topic but I was still able to send pings, this means that the one who lost connectivity is `iot`

I'm looking at changing fr

[2018-05-17 23:19] matiasdecarli commented on #226
Also, I'm starting to see this error

[code]

[2018-05-17 23:59] fengsongAWS commented on #226
This means the host is not able to reach could be potentially your local network routing problem e.g. IP rotation. Can you log into AWS IoT Cloudwatch and select AWSIoTLogs  to see the server side log?

[2018-05-18 14:56] matiasdecarli commented on #226
Ok, so my problem is that sometimes I lost connectivity and I don't realize quick enough to force a reconnect. I started to catch the `EHOSTUNREACH ` thanks to the `device.on('error')` event, so now the app doesn't crash. A good starting point

But I'm still failing to realize that some `publish` are not successful. Is there any way to force reconnection after X messages not delivered or set a tim

[2018-05-18 17:30] fengsongAWS commented on #226
Do you know the reason of unsuccessful publish? It could either be connection problem or network problem e.g. packet lost. You could enable QoS 1 instead of QoS 0 to guarantee at least 1 packet has been arrived.

[2018-05-18 17:53] matiasdecarli commented on #226
I am already using the `qos:1`, yes.

Regarding the lost connection, I can see locally that after the app starts & connect, if I turn off the wifi, the `iot` doesn't realize that the messages are not being sent. Is there any way to detect this sooner? After I turn off the connection, all the publish messages stop reaching the callback

[code]

[2018-05-18 18:08] #201 closed

[2018-05-18 18:52] AWSSteveHa commented on #225
@thecloudslayer Did you by chance copy the jobs-example.js file to a different location before you ran it? That could cause the error you're seeing.

[2018-05-21 06:03] stonecourier commented on #223
We are facing the same issues with our Angular project.

[2018-05-21 15:32] matiasdecarli commented on #226
Ok finally found the issue & solution for this

The issue that I was having was: the messages not been posted on AWS IoT due to networking issues. Since the messages didn't have a timeout set, I was realizing after a long time that the messages were failing. To solve this, I just set `keepalive: 10`. After 10 seconds if the messages didn't have the `PUBACK`, an error is trigged, and the reconnecti

[2018-05-21 15:32] #226 closed

[2018-05-22 11:13] dushyantbangal commented on #219
No, like I mentioned, it doesn't forward data to MQTT.js when `offlineQueuing:false` and the connection is down.
It doesn't fire the publish call when.

[2018-05-24 13:29] rathorebs opened #227 "Unable to reduce the size of "aws-iot-sdk-browser-bundle.js" from "export AWS_SERVICES=cognitoidentity""
Hi Team,

I'm unable to reduce the size of "aws-iot-sdk-browser-bundle.js" from "export AWS_SERVICES=cognitoidentity"  actually I have no idea that where should I put this line into my code.

Please help me in which file and exactly where should I put this code.

Please see attached screen-grab.

Thanks,
Bhanwar
![issue](https://user-images.githubusercontent.com/9293248/40488576-ad2b9820-5f84-11e8

[2018-05-24 17:51] vareddy commented on #227
Hi @rathorebs,
Thank you for your interest in AWS IoT!
That line should not be inserted into any code. That is setting the environment variable `AWS_SERVICES`, hence it just needs to be run in the command line before running the `npm run-script` command, just like any other `export` command.
Let us know if you have any more questions.
Thanks!
Varun

[2018-05-25 13:46] mordka commented on #223
Angular 6 doesn't support `fs` and because we can't eject webpack configuration from Angular any more then we can't tell webpack to ignore this module.

[2018-05-26 04:49] hblanken commented on #223
@fengsongAWS  - any chance to update the SDK to support modern angular6 apps?

[2018-05-27 04:18] dornaveh commented on #223
anyone found a solution?

[2018-05-30 02:17] killbox-code commented on #223
@hobojoe thanks so much for posting that link - not something I would consider permanent but it does the job in a simple way for the foreseeable future.

[2018-05-31 17:00] liuszeng commented on #227
Closing due to inactivity.

[2018-05-31 17:00] #227 closed

[2018-05-31 18:25] Downchuck opened #229 "Connection failures with Firefox and Node.js"
Currently using the aws-iot-device-sdk-js I'm seeing connection failures via Firefox and via node.js over WSS; the same code works just fine in Chrome. A simple example of this can be seen with the site: https://serverless-notifications.zanon.io/

Similarly (for Firefox on Ubuntu): https://d2ab9cgiumpbb1.cloudfront.net/

This is from Ubuntu 16

[2018-05-31 18:26] Downchuck commented on #229
This may be related to PR #214 though it seems odd that it works in one browser and not others.

[2018-06-01 02:46] thecloudslayer commented on #225
I'll poke it soon and let you know. Do you know of any more doc on running and setting up jobs?

[2018-06-01 21:13] AWSSteveHa commented on #225
@thecloudslayer I recommend following the tutorial in this blog post https://aws.amazon.com/blogs/iot/using-device-jobs-for-over-the-air-updates/

[2018-06-05 18:01] fengsongAWS commented on #223
This is an environment specific use case. We will consider this support in the future. At this point, feel free to submit any patch or pr to the repo. Thanks for your interest in AWS IoT  Device SDK.

[2018-06-05 18:01] #223 closed

[2018-06-05 21:01] Downchuck commented on #229
Sorry, forgot to close this out. The IPv6 stack was picking up on IPv6 endpoints via DNS, causing the issue. Debugged it with curl.

For that machine I just disabled IPv6; seems chrome has some added heuristics to handle that case (where IPv6 outbound isn't working)

[2018-06-05 21:01] #229 closed

[2018-06-07 15:49] pedrojmendoza opened #230 "Question/FR: Secure web-sockets (WSS) and firewalls/proxies/AV"
While working with a customer on a migration to AWS IoT for streaming using MQTT over WSS I got a request about whether IoT's client libraries supports falling back to HTTP long polling when there is a WSS connection being blocked by a proxy/firewall/AV

IFAIK, since WSS is basically WS over TLS it should not be the case as the proxy/firewall will only see cipher-text over the wire but they have c

[2018-06-15 16:02] eranation commented on #223
@hobojoe thanks for the patch, but this didn't work for me, I now get a "Error: No browser version for node.js core module fs available" where there any other steps you had to do?

[2018-06-15 16:12] killbox-code commented on #223
@eranation - The file below is saved in my project and executed on the npm 'postinstall' hook:

### tools/postinstall/patch-ngcli-webpack.ts
[code]

### package.json
[code]

I'm not really sure that it's the ***best*** implementation but it has done its job and thus far I have not encountered any negative side-affects

[2018-06-15 16:17] eranation commented on #223
@killbox-code thanks for sharing, this works like a charm. (my issue was that I had `fs: true` and `tls: true` I should have read their webpack example)

[2018-06-23 02:34] Khalian opened #231 "Cannot get simple AWS web socket publish to work"
I wrote this uber simple client to publish a message to aws sdk via websocket protocol (javascript version). https://github.com/aws/aws-iot-device-sdk-js

[code]
I am getting the following error (after importing admin creds https://github.com/aws/aws-iot-device-sdk-js#websockets) a whole bunch of times:-

[code]

The SDK fails to give any reason why I am getting a 403. Any tips?

Note : The SDK ex

[2018-06-23 04:13] Khalian commented on #231
The SDK seems to be pre signing the URLs with Sigv4 correclty.

     url: 'wss://a1s3zhmqnep3o1.iot.us-west-2.amazonaws.com:443/mqtt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential= .......

[2018-06-24 14:48] superandrew commented on #136
Hi, jumping in in this closed issue since we're struggling using the aws-iot-sdk in browser with ionic but it seems pointless to open a new issue.

@fengsongAWS could you please confirm that we *need* to use cognito pool authentication or is there a "certificate/key" way of doing it? We tried with buffers and browserify, to no avail, always ending with fs.existsSync is not a function. In our model

[2018-06-25 19:53] AWSSteveHa commented on #225
Closing issue. @thecloudslayer feel free to open a new issue if you are still encountering errors.

[2018-06-25 19:53] #225 closed

[2018-06-25 21:14] fengsongAWS commented on #231
Hi @Khalian ,
We had some examples in the example directory, did you test the example with your credentials?
What policy did you attach to your role or user?

[2018-06-25 23:43] Khalian commented on #231
Running the example had the following error.

[code]

seems to be working different . Just stuck at

Credentials used had the following inline policies

[code]

and

[code]

[2018-06-25 23:45] Khalian commented on #231
Interesting, I just retried my example and the 403 went away.

[2018-06-26 07:45] #231 closed

[2018-07-02 08:18] 0xc0d3r commented on #136
Hi @superandrew,

Currently, they are not supporting it for the browser environment. As per my previous experience, you have to proceed with cognito pool Id only.

[2018-07-03 07:31] Oxbowl opened #232 "About the feedback"
Hi, I used the raspberry to create my topic and build my android app.
So far I need to understand that how to receive the feedback from AWS IoT, example as below:

I clicked the ON/OFF button for my light. And the glow after few seconds.
which it means the IoT connected to my Raspberry Pi and proceed with my command.
It is fine for it, but yet what if I want to have two devices. Once the lights on

[2018-07-03 18:44] liuszeng commented on #232
Hi @Oxbowl ,

Can you elaborate more on your use case and the logic flow? Which Node.js SDK API are you working with?

Thanks,
Liusu

[2018-07-04 06:05] Oxbowl commented on #232
Hi liuszeng,

Thank you for the fast response. I was using AWS lambda API and IFTTT. So I can trigger my home device with IFTTT through the AWS. However I wanna create the notification for my device with everything it triggered by IFTTT.
I created a simple android app also, it can trigger my home device also. but yet it cannot notify me for everytime triggering. The main target I want which it is

[2018-07-05 17:46] liuszeng commented on #232
Hi @Oxbowl ,

The API you need is MQTT subscribe, which allows you to receive publishes/notifications from server with a long live MQTT connection. You may want to take a look at the AWS Android SDK for IoT MQTT:
https://github.com/aws/aws-sdk-android/blob/master/aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java#L996
https://github.com/awslabs/aws-sdk-andr

[2018-07-05 17:46] #232 closed

[2018-07-09 15:30] brugnara commented on #198
In the meanwhile I have pushed a simple wrapper to the RestAPI in order to get this feature.

Hope this helps: https://www.npmjs.com/package/aws-iot-greengrass-discovery

[2018-07-14 17:37] MichaelPriebe opened #233 "Getting error 403 after the socket closes and it tries to reconnect"
Seems to be an endless loop until I restart.

[2018-07-23 07:33] oprince commented on #196
The error occurred for me after I have upgrade few node modules which seems as MQTT dependencies.  It was solved by re-installing MQTT module.

[2018-07-25 07:03] dushyantbangal commented on #54
I got this issue when I was using the [VeriSign Class 3 Public Primary G5 root CA certificate](https://www.symantec.com/content/en/us/enterprise/verisign/roots/VeriSign-Class%203-Public-Primary-Certification-Authority-G5.pem) (which I got when I registered thing in `us-east-2`) instead of [Amazon Root CA 1](https://www.amazontrust.com/repository/AmazonRootCA1.pem) (which I got when I registered th

[2018-08-06 16:59] nbcnc opened #234 "AWS IoT SDK and IE"
It seems the browser bundle `aws-iot-sdk-browser-bundle.js` has instances of `const` that will not work in browsers like IE Edge that don't recognize ES6.  Is there a step I'm missing to convert all `const` to var when I run browerize.sh?

Thanks,
Marc

[2018-08-06 22:43] nbcnc commented on #234
my mistake... nevermind.

[2018-08-06 22:43] #234 closed

[2018-08-07 12:12] deftomat commented on #233
@MichaelPriebe The same for us. Did you solve it?

[2018-08-07 16:52] MichaelPriebe commented on #233
Not exactly. I just started ending the socket if it errors, and reconnecting after.

[2018-08-14 17:24] XCarle opened #235 "#EDIT - Angular 6 causing a missing packages in your package.json"
Hi,

as we launched the service we had errors building the project :

`
ERROR in ./node_modules/aws-iot-device-sdk/common/lib/tls-reader.js
Module not found: Error: Can't resolve 'fs' in '/node_modules/aws-iot-device-sdk/common/lib'

ERROR in ./node_modules/aws-iot-device-sdk/device/index.js
Module not found: Error: Can't resolve 'fs' in '/node_modules/aws-iot-device-sdk/device'

ERROR in ./node_m

[2018-08-14 21:06] JonathanHenson commented on #230
an http proxy would definitely see the web socket upgrade, if they're going TLS all of the way from client to server, then the proxy wouldn't see the traffic, but if it's an actual http proxy, it is decrypted and reencrypted at the proxy so it would see and possibly block the web socket upgrade.

[2018-08-14 21:09] JonathanHenson commented on #230
There is no fallback to long-polling.

[2018-08-15 18:04] matiasdecarli commented on #222
Be careful with this approach. DNS do change overnight and you could end up with a major issue

[2018-08-16 08:34] XCarle commented on #235
https://stackoverflow.com/questions/50202948/update-to-angular-v6-module-not-found-error-cant-resolve-fs

[2018-08-16 14:54] XCarle commented on #235
https://github.com/aws/aws-iot-device-sdk-js/issues/223

[2018-08-16 19:49] ColdenCullen commented on #235
Closing as duplicate of #223.

[2018-08-16 19:49] #235 closed

[2018-08-22 16:41] ultrafez commented on #169
I'm going to join this issue by chiming in that I'm experiencing the same problem - I've been investigating custom auth and found that this limitation isn't described in the docs. Is there an update on this issue? It's been open for over 6 months now.

[2018-08-23 11:44] usmanf1 commented on #55
Hello,
I am facing a quite similar error when i try to connect device. I have attached the image of error.
![rpi](https://user-images.githubusercontent.com/39525191/44523589-08c95780-a6e3-11e8-96db-bb073812eff8.png)

[2018-09-05 20:32] PhilLavoie opened #237 "Add `enableMetrics` in `DeviceOptions` (Typescript)"
Let me know if this should be in the other project :)

Package: `@types/aws-iot-device-sdk`
Version: `2.1.1`
Link: https://www.npmjs.com/package/@types/aws-iot-device-sdk

This interface: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/aws-iot-device-sdk/index.d.ts#L12 seems to be missing the `enableMetrics` field, as documentated here: https://www.npmjs.com/package/aws-iot-de

[2018-09-06 17:35] ColdenCullen commented on #237
Good catch, that is indeed missing. However, as far as I'm aware we do not maintain those bindings, so I think you'd be better served opening an issue or PR against DT.

[2018-09-21 12:28] sahilkanani opened #238 "AMQJS0008I Socket closed."
**After following the steps given in the documentation, I am still experiencing the issue of "AMQJS0008I Socket closed."**

I was trying to use IOT Module to create AWS IOT Chat for my serverless application (I followed the steps given in the documentation), but it didn't worked and gave 'Socket Already Closed' error.

I have followed below steps:

1.  I have give "iot:*" rights to my cognito pool

[2018-09-21 21:20] ladynobeard opened #239 "Can't get messages on iot"
I'm using the iot core for windows and the aws iot sdk works for connecting and subscribing. I can use the MQTT client test to publish messages, and the windows iot can receive messages. However, I have a lambda function that takes input from an Alexa echo dot and sends message to MQTT. The MQTT receives the message, but the iot windows does not. app.device.on("message", function(topic,payload){}}

[2018-09-24 21:28] Buzda opened #240 "unable to get local issuer certificate"
I am creating a HelloWorld example in subscribing/publishing to a topic in the AWSIoT following an online tutorial for creating a Thing, certificate and a policy and used the following script:

***********************************************
var awsIot = require('aws-iot-device-sdk');

var device = awsIot.device({
   keyPath: '13351509b3-private.pem.key',
  certPath: '13351509b3-certificate.pem.cr

[2018-09-25 13:14] Buzda commented on #240
It turned out that there was a problem with the certificate I downloaded. I used one of the Amazon Trust Services Endpoints (the all don't work). I then used the VeriSign Endpoints (Legacy) and it worked. But I'm still wondering why the ATSs don't work although they are the recommended ones and they live longer.

[2018-10-02 15:03] lavaxun commented on #219
@dushyantbangal which solution do you used to enable the offline handling with mqtt.js?

[2018-10-08 20:35] nirsharony opened #241 "How does one handle expired credentials?"
The accessKeyId, secretKey and sessionToken are sent to AWSIoTData.device and the objecgt is initialized properly. I then successfully send and receive messages.

However, these tokens will expire after a while.
How can the exipration be detected and what can be done to refresh them?

Thanks

[2018-10-09 20:28] ColdenCullen commented on #241
Unfortunately cert rotation is outside the scope of this SDK. You'll need to build out some way to deploy new certs as part of you application. If you have any questions on how to implement that, we can probably point you in the right direction.

[2018-10-09 21:03] nirsharony commented on #241
Thanks for the reply.

I understand,but if I am to implement my credentials rotation, I need some way of knowing that my current credentials have expired. When they expire, will the error callback get invoked and if so, what error message should I expect to get?

[2018-10-09 22:17] ColdenCullen commented on #241
It looks like there is an error, and I think it's emitted [here](https://github.com/aws/aws-iot-device-sdk-js/blob/master/device/lib/tls.js#L35). Unfortunately if that is where it is raised, then clearly it's not very specific. Although, I think if you are having your connections consistently succeed and then all of a sudden start failing, then it's probably time for new certs 😃

If this isn't spe

[2018-10-10 08:01] nirsharony commented on #241
Thanks for this info.

I just tested something else:
Connected to a topic and then delibaretely turned off my Internet connectivity.
This is the order of the events that got emited:

1) **offline** event was emited
2) **close** event was emitted
3) **reconnect** event was emitted
4) **error** event was emitted. The error was:  {"isTrusted":true}

I was expecting the error to say something about a

[2018-10-10 11:30] bhargav01 commented on #10
I have the same issue.
Below is the telnet response,
[code]

Also the AWSiOT SDK works properly if proxy is not involved.
Is there any config changes available for AWS iot. Like how the aws-sdk has config.update(),
[code]

[2018-10-10 11:34] bhargav01 commented on #10
I have the same issue.
Below is the telnet response,

[code]
Also the AWSiOT SDK works properly if proxy is not involved.
Is there any config changes available for AWS iot. Like how the aws-sdk has config.update(),

[code]

[2018-10-10 14:14] dushyantbangal commented on #219
@lavaxun, I was using `mqtt-nedb-store`. But just switch to `mqtt-level-store` yesterday.

In the aws sdk settings, I am setting `offlineQueuing:false` so that it doesn't use its own memory queuing. You supply the mqtt store in the same settings object.

Also, I'm commenting out the `if` condition mentioned in my [previous comment](https://github.com/aws/aws-iot-device-sdk-js/issues/219#issuecomme

[2018-10-10 16:10] lavaxun commented on #219
@dushyantbangal brilliant! I'm also thinking to use the level-db as the queue persistent storage.
Thanks for sharing the solution.

[2018-10-10 17:28] ColdenCullen commented on #241
That is definitely a strange order of events, but I would think 1-3 would let you know the cause of the error 😃

[2018-10-11 09:16] dushyantbangal commented on #219
@lavaxun you're welcome. `nedb` has lots of issue, and an important one is 256 MB limit. Once the filesize exceeds that, it cannot compact it my removing the uploaded records. So dont go there, go with `mqtt-level-store`

[2018-10-14 08:54] runemadsen commented on #153
I'm having the same issue. Can you please elaborate on what the solution is? Can you paste your policy here for reference?

[2018-10-15 09:43] bhargav01 opened #242 "How to get AWSiOT message to lambda"
I have tried the 'aws-sdk' to publish a message to AWSiOT, which is then received by the devices subscribed to a topic.
But then, when the device responds back with a PUBLISH message, how do i notify the user that the asked changes are done through alexa? Because you cannot SUBSCRIBE from lambda.
Is there a work around? If yes, let me know.

[2018-10-17 19:28] rinatio commented on #220
@fengsongAWS Since it's somewhat related, I'd ask here instead of creating another issue. Why don't use use `foreignStateChange` event in the `temperature-monitor` example and set an interval polling the IoT every 3 seconds? What's the benefit over using `foreignStateChange`?

[2018-10-17 20:43] rinatio opened #243 "How to unsubscribe from events"
Is there any way to stop receiving messages from shadows? If we initialise shadow second time the `connect` event is being triggered anyway, even though `shadows.end()` has been called.

[code]

And here's what we see in the logs after `shadow.end()`:
[code]

[2018-10-17 21:15] rinatio commented on #243
Okay, my bad. It seems like that is simply a debug message which will not actually try to reconnect and the event listener is actually being removed.

[2018-10-17 21:15] #243 closed

[2018-10-18 08:02] bhargav01 opened #244 "Connection to AWSIoT over proxy is not working(port 443)"
I have tried the instructions provided.
Using the node js SDK. I am under a corporate proxy, so port 8883 is not allowed.
As a work around i tried this updated SDK, and executed the example program.\
I have the working certificates.
So, what is the issue? or am i doing anything wrong?
Please find the fail logs below,

[code]

[2018-10-31 11:39] samarahmad opened #245 "TypeError: filesys.existsSync is not a function"
i have written this code in angular 5
but when i compile this code
@fengsongAWS

`import { Component } from '@angular/core';
import * as awsIot from "aws-iot-device-sdk";
import * as mqtt from "mqtt";
@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {
  title = 'app';
 constructor(){

 }
 device=new  awsIo

[2018-11-08 00:39] lavaxun commented on #219
@dushyantbangal can you share sample code of how your settings object and .publish() looks like?
It seems like if I use `qos: 0` then it will publish the message to IoT Core directly but not saving to the level-db.
if I use `qos: 2` it will only go into level-db but not the IoT Core. (regardless if the device is online or offline)

[2018-11-08 03:09] cenxui commented on #191
This is really useful!! Thanks

[2018-11-08 06:51] lavaxun commented on #219
Managed to have the offline queue working.
It looks like I have to use `qos: 1`.

MQTT stream is closed right after the connection is established.
Not sure why.

[2018-11-09 04:11] hieupaul commented on #245
+1

[2018-11-11 14:18] xiongyu0523 commented on #205
I have the same questions.

aws-sdk uses http, which only allow publish data to Device Gateway, is there any method to get sync response on MQTT subscription in Lambda?

I have see many topics asking the same question but nobody gives clear answer
https://forums.aws.amazon.com/thread.jspa?messageID=741493&#741493

[2018-11-13 14:39] chrisvoo opened #246 "AWS IoT Device SDK doesn't work on AWS with load balancers"
Hi,
I'm trying to republish data sent from devices to our Node.js MQTT broker deployed on an AWS server to AWS IoT, to provide an integration between the two systems, but when I use load balancers, the integration stops to work.
[Full details are described here](https://stackoverflow.com/questions/53282398/aws-iot-device-sdk-doesnt-work-on-aws-with-load-balancers). What could be the problem? Do yo

[2018-11-13 16:53] chrisvoo commented on #246
Please forgot this issue as it seems I've specified a wrong certificate path.

[2018-11-13 16:53] #246 closed

[2018-11-14 03:04] rrrhys commented on #169
To send the headers in the connect request, please try
npm install --save git+https://github.com/rrrhys/websocket-stream.git

I've modified websocket-stream to pass through headers when supplied in the options (for a React Native project).

[2018-11-14 09:12] samarahmad commented on #76
i am also getting same problem how can i solve this issue pls tell me

[2018-11-14 14:45] aswathrao opened #247 "How to capture 403 error during reconnection"
Upon recovering from loss of network connection, SDK tries to reconnect. If the network connection was lost 1.5 times more than keep alive timer the core has closed the connection and issues 403 error for the reconnection request. Is there a way for the app to capture the event so it can start a new connection? TIA

[2018-11-14 14:52] cafrank commented on #187
If you create the certificate in the aws iot console, then use the Amazon Root CA. See:
https://docs.aws.amazon.com/iot/latest/developerguide/managing-device-certs.html

Node JS example.  Download: https://www.amazontrust.com/repository/AmazonRootCA1.pem
[code]

[2018-11-17 04:31] poparotsy commented on #55
Try a clientId no shorter than "sdk-nodejs-2cf7a91a-1572"

and with an allow-* policy, you could omit clientId,

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "iot:*",
      "Resource": "*"
    }
  ]
}

[2018-11-19 11:09] tadas-subonis opened #248 "Does not work with Typescript and Angular 6"
[code]

The code above doesn't give me a working MQTT client - I've tried sending and getting messages back (there are no messages on the dashboard as well).

I've had to apply this had as well: https://github.com/aws/aws-iot-device-sdk-js/issues/223#issuecomment-397669600

The regular instructions for webpack do not work on typescript-integrated webpack, because after bunlding, you get errors lik

[2018-11-19 16:57] tadas-subonis commented on #248
Alright, apparently it was a policy configuration issue. After some time (not immediately), the system started reporting 403 errors that hinted me towards that direction (kinda like here https://github.com/aws-samples/aws-iot-examples/issues/1 )

[2018-11-20 21:03] mlfarrell commented on #161
This needs to be FAR better documented.  The penalty for not waiting fo the min duration is catastrophic.  I almost posted a duplicate of this issue today.

[2018-11-21 11:45] ultrafez commented on #169
@rrrhys, the problem described in this GitHub issue is related to using this npm package in the browser - the root cause is that the WebSocket API implemented by browsers doesn't support adding custom headers, even thought the websocket protocol itself _does_ support custom headers.

The fix required from the AWS team is a way of indicating that the developer wants to use a custom authorizer via p

[2018-11-21 21:03] rrrhys commented on #169
@ultrafez I completely understand. The fix I proposed makes this npm
package work in React Native with a custom authorizer. I realise my comment
could have been clearer.

On Wed, 21 Nov 2018 at 22:45, Alex Silcock <notifications@github.com> wrote:

[2018-11-27 19:20] AWSSteveHa commented on #169
@ultrafez thank you for the reminder of mention of this limitation in the README. My apologies to anyone who spent time unnecessarily on this. The README is now updated.

[2018-11-30 00:38] blbradley commented on #139
@olgeorge Thanks for your report. I know it's been a long time; how were you able to debug this? Just by CloudWatch IoT logs? I think I experienced something similar. The client showed no signs of disconnecting, but I'm not printing anything in a disconnect handler, either.

[2018-12-05 11:09] nirsharony opened #249 "How to explicitly disconnect from AWSIoTData.device?"
Hi.

I am basing my work on this code:
https://github.com/aws/aws-iot-device-sdk-js/blob/master/examples/browser/mqtt-explorer/index.js

I am successfully connecting and getting the following callbacks invoked:
- connect
- reconnect
- message
- error
- offline
- close

However, in some scenarios, I need to completely disconnect from the topic.
What i do is use: mqttClient.unsubscribe
Note that eve

[2018-12-13 08:28] deen13 opened #250 "MQTT Version 5 Support"
Hello AWS Contributors,

first i have to thank you for the great work. I just have read about the features in the new MQTT Version 5. Is there anything on the roadmap related to upgrade the AWS IoT Broker Version? 💯

[2019-01-23 05:56] str3tch commented on #244
this looks like a lookup failure.. can you ping or nslookup your iot endpoint, and ensure that it resolves?

[2019-01-23 17:38] GermanBluefox opened #251 "Connection lost every 2-3 Minutes by some users"
Some of the users (not all) facing the problem, that connection being lost every 1-3 Minutes.
I checked the logs and monitored the activity of specific users and could not see any errors except that disconnection appears and then in 6-8 seconds comes reconnect.... and in i-3 Minutes again disconnect and so on.

What it can be?

It looks like (may be) the client does not answer heartbeat, but is no

[2019-01-29 18:41] lagnat opened #252 "Support for non-ssl (ws://)"
In our development environment with serverless-offline, IoT connections are being rejected by the browser for invalid certificate authority.  This makes sense as we're using self-signed certs and there doesn't appear to be any way to disable checks for self-signed certs when running on a browser and native WebSocket.  Side note.. I've seen `rejectUnauthorized: false` and I'm fairly sure it used to

[2019-01-29 22:06] ColdenCullen commented on #252
Hey @lagnat,

Thanks for your interest! Since we only support connecting to the AWS IoT endpoints (which REQUIRE SSL), I don't really think this is something we want to support or encourage.

Cheers!
Colden

[2019-01-29 22:06] #252 closed

[2019-02-04 13:47] gauthamkantharaju opened #253 "read ECONNRESET error using aws-iot-device-sdk"
Hi,

Using aws-iot-device-sdk npm package (version 2.2.1) for publishing data to cloud. Application (mqtt client) code publishes data to cloud every 15 minutes interval.

[code]

Using device.on("error"),

device.on("error", function (err) {
			console.log("DNS issue or AWS IoT sdk error: " + err);
});

seeing below error very often from last week,

DNS issue or AWS IoT sdk error: **Error: read EC

[2019-02-04 18:48] justinboswell commented on #253
Have you previously been able to connect successfully and maintain a connection?

[2019-02-04 19:35] gauthamkantharaju commented on #253
@justinboswell yes previously was able to connect successfully and had a stable connection for months.

[2019-02-04 20:01] justinboswell commented on #253
Ok, good to know. Have you made any other recent changes to your policy or account that might account for the change? Have you pulled new npm dependencies or made any other environment changes?

[2019-02-04 20:16] gauthamkantharaju commented on #253
No changes in your policy or account.  Did install same node and npm binaries which I used previously and installed the npm packages (fixed versions) as in the package.json.

There was no aws-iot-device-sdk npm package version change right? was there any change in aws-iot-device-sdk npm dependencies?

No environmental changes.

[2019-02-04 21:11] justinboswell commented on #253
The js SDK hasn't changed in a year. If you can't resolve it locally, I would suggest contacting AWS support through the console.

[2019-02-04 21:23] gauthamkantharaju commented on #253
Thank you for the quick response. Sure will contact AWS support.

[2019-02-06 19:36] gauthamkantharaju commented on #251
Even we are facing the same issue but in our case client is getting disconnected every 10-15 minutes and reconnects within few seconds.

receiving, **Error: read ECONNRESET**

Have created a issue in AWS support also but they responded back saying that the issue might be because of firewall or network issue.

[2019-02-06 19:49] gauthamkantharaju opened #254 "keep alive mqtt option"
Hi,

Using aws-iot-device-sdk npm package (version 2.2.1) for publishing data to cloud. NodeJS application (mqtt client) code publishes data to cloud.

[code]
1) Disabled keepalive option (keepalive = 0, ping disabled), so as per the AWS IoT documentation (https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot )

"
For MQTT (or MQTT over WebSockets) connections, a client

[2019-02-06 19:59] gauthamkantharaju commented on #254
Can the keep alive mqtt option be disabled? if not, may I know the reason?

Reason for disabling keep alive mqtt option is because we will be publishing data at regular intervals so we don't need ping requests and responses between client and mqtt broker.

[2019-02-06 22:17] justinboswell commented on #251
Have you tried wireshark (or ssldump) capturing the connection? See if you get a TLS alert as your last packet from the server, or if you time out. If you time out, then there's something going on on your network. If you're getting a TLS alert, then the server is hanging up on you because your last request was malformed or against your policy.

[2019-02-06 22:26] justinboswell commented on #254
So in this instance, you've disabled keepalive (if I'm reading your post right). If that's the case, then you've been disconnected and did not reconnect, so it makes sense that your messages would not reach the service.

You can disable it by setting it to 0, however, if you do not send messages every now and then, you may well see the connection drop and/or see your will message published. The ma

[2019-02-06 23:39] gauthamkantharaju commented on #254
If that's the case, mqtt client should automatically retry to establish connection and subsequent messages should be published to service? but in my case after first 5 publish, subsequent publishes are lost and never reach service unless update keep alive option and restart the application.

[2019-02-07 00:05] gauthamkantharaju commented on #254
Did test disabling keep alive option (keepalive  = 0), as said in the previous comments, first 5 message did reach  the service without any issues but right after the subsequent message were published from NodeJS application, below mqtt event debug logs were seen,

MQTT client went offline
DNS issue or AWS IoT sdk error: Error: read ECONNRESET
MQTT client disconnected
MQTT client reconnecting
Conn

[2019-02-07 00:58] justinboswell commented on #254
What are the values of your offlineQueueMaxSize and offlineQueueDropBehavior? The sample code in the original post only points at environment variables.

Also, once you're disconnected and reconnected, step through your next publish() call and see which branch it takes, and see if it ends up queueing the message because there are messages in the queue already.

[2019-02-07 14:28] gauthamkantharaju commented on #254
AWS_MQTT_OFFLINE_QUEUE_MAX_SIZE = 8640
AWS_MQTT_OFFLINE_QUEUE_DROP_BEHAVIOR = newest

One more observation,
- Even if keep alive set to 3600 which is greater than 1200 default AWS IoT interval, first 5 publish is successful and rest even though published not reaching the service.

I guess AWS IoT (broker) has some issues when default keep alive (1200) value is used.

[2019-02-08 00:00] gauthamkantharaju commented on #254
Then above statement is from the same link, is it incorrect?

I did test keepalive with '0' with a stable ethernet connection and surprisingly it did work without any issues!! but same test on an unstable connection (cellular network) did not work, approx after 30 minutes with ECONNRESET issue and was not able to publish data to service thereafter.

[2019-02-08 00:05] ColdenCullen commented on #254
It's possible some behavior will be subtly different when using 0 vs 1200. If 1200 works for you, I'd suggest just sticking with that.

[2019-02-08 09:09] GermanBluefox commented on #251
Will check it. Thank you.

[2019-02-08 13:05] gauthamkantharaju commented on #254
Oh ok, that's what I thought. Thanks for the responses, appreciated!!

[2019-02-08 15:06] gauthamkantharaju commented on #251
@GermanBluefox Any luck?

[2019-02-08 17:29] ColdenCullen commented on #254
Happy to help 👍

[2019-02-08 17:29] #254 closed

[2019-02-11 09:33] aniket91 commented on #169
It's sad to see this does not work in browser environments. There is no support in Java SDK as well. Is there a way we can get this to work in React Native environment? Has anyone tried it? Thanks.

[2019-02-11 13:51] eagene commented on #169
@ultrafez Can you explain what you're doing? I'm using cognito in the browser already for authentication and so can get temporary credentials, but I thought I needed to then generate a signed url in the browser in any case to connect to iot. Is that not the case? Or do you generate the presigned url in a lambda, return it to the browser, and then use the mqtt library?

BTW: I've managed to get thi

[2019-02-15 05:51] klsudhir opened #256 "aws nodejs messages not delivered promptly"
I have created 2 devices (abc device & xyz device) in AWS IOT along with 2 sets of certificates.

First, in my nodejs code used abc device and its certificates to send a message to xyz device
Second, in my xyz device wrote pythoncode to receive message.

The messages are not received promptly when I sent it from abc device to xyz device. Sometimes it is reaching but with delay and sometimes it is

[2019-02-15 11:33] #256 closed

[2019-02-15 16:33] graebm commented on #249
There is an `end(force, callback)`function on the mqttClient. `force` is whether to close immediately, or wait for in-flight messages to be sent. `callback` will be called when the connection finishes closing.

[2019-02-15 16:33] #249 closed

[2019-02-24 16:28] 20matan commented on #251
Hey, i had the same error.
Not sure if it's the same case, but in my case it happened because some of the clients had the same clientId. i'm not sure what method you use to generate the clientId, but you should try (in case you don't already) uuid / something similiar that will not result in collisions.

[2019-02-24 19:11] rossrossp opened #259 "Websocket connection failed"
Hello team,

The below setup of IoT for handling chat alerts had been working perfectly for me for a while now, but has recently stopped working, although nothing has changed.
I am using the SDK on the client side, and connecting to my AWS IoT endpoint via the wss protocol, using Cognito as the identity provider.

First, I fetch the credentials:
[code]

Then I attempt to connect:
[code]

The error

[2019-02-24 19:50] rossrossp commented on #259
I have just read that we need to switch to the ats endpoint. I have done this and it now seems to be working! I will test a bit and then close the issue.

[2019-02-25 23:07] jsolderitsch opened #260 "Mac OS X Mojave Simulated device not working"
I am running the latest Mojave release.

I am trying to use the SDK from Node-RED on my MacBook Pro.

Some simple tutorials are not working for me; e.g.

[https://www.youtube.com/watch?v=zcCRd_l_EUw](https://www.youtube.com/watch?v=zcCRd_l_EUw)

Are Mac supported for simple IoT connections where the device is being simulated through mqtt messages being sent from the computer?

[2019-02-26 04:22] jsolderitsch commented on #260
OK, my bad. I had the wrong policy statement for the certificate I was using to secure mqtt. I created a new certificate for my AWS thing, and allowed a pretty wide-open policy for the arn for my thing. Then the node-RED flows started working.

[2019-02-26 04:22] #260 closed

[2019-02-27 21:34] kauffmanes opened #261 "Unable to connect device to AWS IoT unless clientId matches thing name exactly."
I have an application running on my device using the SDK. I've had the jobs class working for a while using certificates and all of that. Now I'm working on introducing the shadow class and it's failing. I realized my client ID was set the same for both shadow and jobs, so I changed the client ID for the shadow class to be thingname-shadow, and the clientID for the jobs class to be thingname-job.

[2019-02-27 22:29] JonathanHenson commented on #261
If you do only one of the other (but not both) what happens?

[2019-02-28 01:08] kauffmanes commented on #261
@JonathanHenson if I do just one and use the thing name as the clientID, it works. If I do just one and use the modified client ID (ex. snuc-shadow or snuc-jobs) it does not work.

[2019-03-02 20:26] GermanBluefox commented on #251
In case of the same clientID I see on the server the corresponding error.
In this issue I see only "disconnected" without explanation what is that.

[2019-03-02 22:13] MikeDombo opened #262 "Unable to run thing-example.js -- Doesn't subscribe to shadow topics"
I'm trying to run the thing-example. I've modified it to use a thing name that I pass in from the command line, but it doesn't run properly. After inserting lots of console.logs I have found that it isn't subscribing to the required shadow topics. The device.subscribe in device/index.js:853 never calls the callback, either for success or error.

Any help getting this demo working would be great.

[2019-03-04 13:04] kauffmanes commented on #261
The one answer on this SO question says that if I was using Boto, I'd just have to run update_thing, but I don't think it's the same situation because I am initializing it with a client ID using JITP.

https://stackoverflow.com/questions/46633860/how-to-get-aws-iot-client-id/50570957?noredirect=1#comment96706909_50570957

[2019-03-05 18:03] h3w8529 commented on #251
just create another clientID, this clientID is not able to share on different devices.

[2019-03-05 18:50] Apollon77 commented on #251
I think Bluefox said that the clientIds are unique.

[2019-03-08 11:53] dushyantbangal opened #263 "Getting EPIPE error code every few minutes"
I have multiple devices (RaspberryPi 3 B+) use the same code, **but I'm facing the issue only on one.**

Each device has a unique clientID and certificates.
Each device does 2 publishes every minute.
It runs for few minutes (sometimes hours), and then starts having connection issues.

I keep getting `EPIPE` error, I don't know if its in publish or connection error, I've added some more logs and wi

[2019-03-08 13:51] kauffmanes commented on #261
The issue turned out to be that my connecting policy was too strict.

I had it set to:

[code]
But I had to change the Actions to: `[*]`. This obviously isn't secure enough but it fixed the issue, so my step will be figuring out which permissions it should have. I'll close the issue, but if anyone has suggestions, please let me know!

[2019-03-08 13:51] #261 closed

[2019-03-11 08:47] dushyantbangal commented on #219
@lavaxun AWS IoT core rejects `qos: 2`, thats why.
They've mentioned that in the [limits document](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot)

[2019-03-11 11:48] #259 closed

[2019-03-11 17:23] ColdenCullen commented on #251
A couple other things you could check:
1. Does your policy explicitly allow everything you're doing? If you violate it, the server will hang up on you with no indication as to why.
2. Are you hitting any of the [limits](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot) imposed by the service? This would also cause a hang up with no error reported.

[2019-03-11 20:12] justinboswell commented on #263
We will definitely need some logs or more information to try to diagnose this. There's clearly a difference between the 2 clients. You already got the client IDs different, and I doubt it's policy related, but I assume you are using the same policy for the 2 devices?

[2019-03-13 07:36] dushyantbangal commented on #263
@justinboswell yes, same policy.

[2019-03-13 08:32] dushyantbangal commented on #263
**Update**
I have enabled different events from `device.on`, following are my logs:

[code]

`Uploading...` is when I do a publish.
When the issue starts, the `offline` event is emitted, with no object in callback (printed `undefined`)

Then I get the `EINVAL` error, I believe that happens in the `error` event.

Then `close` is emitted, with with no object in callback (printed `undefined`)

Then `

[2019-03-13 08:44] dushyantbangal commented on #219
@ColdenCullen We found a way to to make changes in `aws-iot-device-sdk-js` to make this work, but as long as those changes are not available in `aws-iot-device-sdk-js`, shouldn't this issue remain open?

[2019-03-13 15:58] ColdenCullen commented on #219
I'm sorry, I saw the last comment about QoS and thought that was the resolution, but I can see now that that's not the case. Reopening.

[2019-03-13 17:43] justinboswell commented on #263
The ```Error: This socket has been ended by the other party``` is an indicator that the service hung up on you, which means it didn't like the last thing you sent. Was it an overly large message, a pub/sub with QoS 2, or did you send [too many publishes/sec](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot) (I can't tell because this is a snipped log)?

[2019-03-14 07:08] dushyantbangal commented on #263
@justinboswell everything is `qos:1`, and the payload is hardly 10KB.
And like I said, once I restart it, I starts sending all the backlogged data (which is a larger number than live data), and that happens successfully.
If the payload was the issue here, it would keep getting rejected (has happened to me before when I published message larger than 128 KB.

The backlogged data is easily 500+ publi

[2019-03-14 08:22] dushyantbangal opened #264 "Takes 21 minutes to ETIMEDOUT and then reconnect"
**Scenario:**
I have 2 publishes with `qos:1` every minute. All settings for `device` are.
I'm using a raspberry pi 3 with USB GSM module for internet.
Periodically, I'm resetting the GSM module, and it reconnects to the internet within a few seconds.

**Issue:**

However, `aws-iot-device-sdk` takes around 20-21 minutes to realize that the connection was lost, and it will have to `reconnect`.

Abo

[2019-03-14 18:15] justinboswell commented on #263
I'm trying to narrow in on why the service might hang up on you.

* Are the publishes going to custom topics, or are they Jobs or Shadow service topics?
* Are the topics or publishes in violation of any [service limits](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot)?
  * I can't tell because I don't know what your messages actually are. The publish rate looks ok

[2019-03-14 18:18] justinboswell commented on #264
You will want to set the MQTT keepalive value lower to detect the connection failure, it will guarantee that a PINGREQ is sent often enough to detect that the connection died, otherwise you are relying on TCP timeout, which can take forever. You can set it down to 10-20 seconds or so and see if that gets you what you want. The default keepalive is 30 minutes.

[2019-03-15 06:20] dushyantbangal commented on #263
@justinboswell

all publishes are to custom topics.

The message is a stringified JSON object, the length should be easily less that 150 characters.
Also, if this was the issue, restarting script wouldn't have worked, the messages would still get rejected.

There are around 20-25 clients configured on my account, only this one has the issue.
The clients I configured after this one, are also workin

[2019-03-15 06:20] dushyantbangal commented on #263
Now I think I should just delete this thing, and create it again.

[2019-03-15 19:44] justinboswell commented on #263
That's a valid thing to try, though I wonder what is different about this problem device given that you have plenty of others that work just fine. This doesn't seem like an SDK issue from what I'm seeing, you may need to engage AWS support to troubleshoot why the service is hanging up if re-making the Thing doesn't solve your issue.

[2019-03-19 12:44] castellanprime opened #265 "AWS Device in browser does not connect at all"
Hi,

I am reading the docs and trying to setup iot for a friend but to no avail. I am using cognito for authentication. This is the setup on the IAM side.

[code]

I also attach the same policy as above to the user using a lambda(server side) on login using the attachPolicy in the AWS IOT SDK. The endpoint address is hardcoded after getting it from the iot core console.. The client configuration i

[2019-03-19 22:59] graebm commented on #265
Thanks for sharing so much data up front

It appears that the clientId coming from code does not match the pattern in the IAM policy. Your policy allows:
[code]

But your code is setting: `clientId: "a cognito Id " + some number`

To get these things aligning, either put a wildcard at the end of the policy resource path like so:
[code]
or remove the `+ some number` from the clientId used to connec

[2019-03-20 18:51] castellanprime commented on #265
@graebm  Thanks for your help. Apart from your solution, I also made a mistake in the policy for connect:

[code]
After I added your solution and the above correction, I was able to connect.

[2019-03-20 18:51] #265 closed

[2019-03-20 22:39] graebm commented on #265
🎉

[2019-03-27 07:30] DongwonLee87 opened #266 "[Error] 'wss://no-credentials-available/' problem"
I tried to test got some error code as follows.
How can I fix the problem ?
Can I know what is releated with ?

[source code]
    if (typeof target === 'object') {
      socket = target
    // otherwise make a new one
    } else {
      // special constructor treatment for native websockets in browsers, see
      // https://github.com/maxogden/websocket-stream/issues/82
      logToHTML('New WebSoc

[2019-03-27 17:14] bretambrose commented on #266
How are you importing credentials?

https://github.com/aws/aws-iot-device-sdk-js#websocket-configuration

[2019-03-29 19:28] ToTXR4Y commented on #251
I have the same issue, it reoccurs exactly every 4 minutes.

[2019-04-01 13:51] Apollon77 commented on #251
@ColdenCullen We are not aware of any of the questions, so I would state for now "no we don't/everything is correct" ;-)

Do you hve any idea how we could track that down? It is very anoying for some of our users!

[2019-04-02 18:02] GermanBluefox commented on #251
Which kind of limits it could be be IoT Core?

[2019-04-08 10:35] kahnchen1028 commented on #248
Excuse me, do have fixed this problem? or finding the other way to replace that?
I am Integrating about aws iot device sdk to Angular 7, and I face some problem..orz
first problem is I need use" mqttClient = new awsIot.device(deviceOption)"
second problem is I got error on chrome console...
The error as this...
===================================================================
ERROR TypeError: pr

[2019-04-15 00:56] agaskell commented on #240
Heads up for anyone else running into this issue. I was using the correct url (with the -ats) but Certificate Amazon Root CA 2 wasn't working for me with the [device-example](https://github.com/aws/aws-iot-device-sdk-js#device-examplejs) (UNABLE_TO_GET_ISSUER_CERT_LOCALLY). After switching to Amazon Root CA 1 I was able to connect.

I also tried certificates 3 and 4. Those didn't work either.

[2019-04-15 16:25] ColdenCullen commented on #240
That is correct, IoT uses RSA 2048 bit, so AmazonRootCA1 is the only one that will work.

[2019-04-15 16:25] #240 closed

[2019-04-21 21:46] eercanayar commented on #259
Check #268

[2019-04-24 09:15] mdivani commented on #223
I have same issue but on React not angular, although I am working with TS :(

[2019-04-25 17:54] graebm commented on #251
[Limits for IoT are listed here](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_iot)

There are limits on **all** sorts of things. For example, publishing more than 100 messages per second will get you hung up on. Could this be your issue?

[2019-04-25 18:01] graebm commented on #251
@GermanBluefox
Are you using a Node.js environment? Or browser environment?

[2019-04-25 18:34] graebm commented on #251
Are you using websockets to connect? Or direct MQTT?

[2019-04-26 06:47] Apollon77 commented on #251
We are using nodejs environment and because we are using exactly this package here it should be MQTT ;-)

For the limits, ok this is interesting but documentation states e.g. for "more then 100 publishs per second": ... rest will be discarded ... so it should not be the case that the whole connection gets killed. ;-) Or do I missed something?

[2019-04-26 06:51] Sourabh482 commented on #245
How can remove this error from my ionic project.
not get the certificate path in ionic awsIOt object.
ERROR TypeError: filesys.existsSync is not a function
at module.exports (tls-reader.js:89)

[2019-04-28 18:46] borch84 commented on #245
Hi @Sourabh482 are you still having the error:  `filesys.existsSync is not a function` ?
I am having same issue when I inspect the console output from my web browser.
I am trying to implement a mqtt client in my ionic application using this sdk.
I would like to summarize my actions in order to understand if this issue applies to me as well:
First thing I did was to install sdk with:

- `npm instal

[2019-04-28 18:55] borch84 commented on #76
I posted a question regarding the same issue on another open post here:
- https://github.com/aws/aws-iot-device-sdk-js/issues/245#issuecomment-487405288
I am trying to implement correctly a mqtt client on a ionic application.

[2019-04-29 05:08] borch84 opened #270 "connection lost - testing device-example.js"
Hi, I am testing the device-example.js but I am getting connection lost. This is the command output:

[code]
I have tested that my certificates are working because I am running an example made for esp32 microcontroller and I am able to subscribe to topics and invoke actions, like updating a DynamoDB table.

I have also tested connection with websocket protocol but it is not connecting:

[code]

[2019-04-29 15:37] GermanBluefox commented on #251
As Apollon77 sad, we use node.js with mqtt and we deliver voice commands (JSON) with IoT.
If you know someone who can produce more than 100 commands per second, let me know ;)

To be serious, even if no commands sent, the disconnect happens every X minutes.

[2019-04-29 19:32] bretambrose commented on #270
I assume this only happens when run from the microcontroller and not another host?
Have you tried any of the other SDKs? (python, java, c++)
Not knowing anything about the esp32, the first thing that jumps out is the 500K ram.  Is that an accurate limit or is your particular configuration different?  Do you have a way of real-time monitoring ram usage as the example attempts to run?

[2019-04-29 20:06] borch84 commented on #270
Hi @bretambrose I am running a C program on the development microcontroller board ESP32 from Espressif. I am using the SDK made from Espressif which is based on AWS-IoT-SDK-C for getting the board connected to AWS IoT gateway. My esp32 does not have special configuration, its ram is 4MB. The certificates and the private key are embedded with the C code flashed into my ESP32.
I was able to setup an

[2019-04-29 20:24] bretambrose commented on #270
So just to make sure I'm understanding:  you're not having any issues running on the micro-controller itself (using a C SDK), you're having issues using the JS sdk from another host, but using the certificate/auth setup that you use on the controller?

If that's correct, what is the host environment the examples are failing from?

[2019-04-29 20:58] borch84 commented on #270
@bretambrose I was able to run the device-example.js successfully. Problem was that I was using the same client id as the ESP32 microcontroller when making the connection to AWS IoT, it must be a different value from any other connected mqtt client. Thanks for your support.

[code]

[2019-04-29 20:58] #270 closed

[2019-05-01 17:38] paparent commented on #241
Hi !

I'm wondering how to implement this too. MQTT.js supports it (I think) via : https://github.com/mqttjs/MQTT.js/blob/master/README.md#signed-websocket-urls

Might be a nice idea ? Otherwise how can I disable the auto-reconnect stuff so I can handle it by myself ?

[2019-05-01 19:33] agabardo commented on #245
Amazon really needs to update this old dinosaur..
I have spent hours and hours and this aws-iot-device-sdk doesn't work with any Angular version larger than 4. Really a shame..

[2019-05-03 05:16] borch84 opened #271 "browserize exit status 1 code ELIFECYCLE errno 1"
Hi, I am running the Temperature Monitor Browser Example Application from here: https://github.com/aws/aws-iot-device-sdk-js#temperature-monitor-browser-example-application

Step 4 is giving me this error:
[code]

The output of debug.log is attached here:

[2019-05-03T04_58_40_648Z-debug.log](https://github.com/aws/aws-iot-device-sdk-js/files/3140698/2019-05-03T04_58_40_648Z-debug.log)

I am using

[2019-05-04 01:50] graebm commented on #271
I tried to reproduce this but couldn't.

I tried by pulling the latest from Github and doing `npm install` from the project directory and running the browserize script. I also tried by pulling the latest `aws-iot-device-sdk` from npm, cd'ing into the `node_modules/aws-iot-device-sdk` dir and running the browserize script from there. It succeeded both ways

The versions on my machine are:
aws-iot-d

[2019-05-04 03:02] borch84 commented on #271
Hi @graebm, thanks for replaying back. I just git cloned aws-iot-device-sdk into a new directory.
[code]
v2.2.1-3-g4814456 comes from the git describe command. Also added the output of git rev-parse HEAD to confirm and I am using the latest commit version:

[code]
I am using latest LTS version of node, however you are using node version 11.9 though.

Using Linux.

[code]

[2019-05-07 05:17] imayur7 opened #272 "Premature closed issue"
Hello, using Aws-iot-device-sdk package I got this error :

Error: premature close
    at TLSSocket.onclose (/home/pi/Server/node_modules/end-of-stream/index.js:47:67)
    at emitOne (events.js:121:20)
    at TLSSocket.emit (events.js:211:7)
    at _handle.close (net.js:561:12)
    at TCP.done [as _onclose] (_tls_wrap.js:360:7)

This was happening when the Internet connection is closed while the r

[2019-05-07 15:14] izaytsev commented on #154
Been looking forward to use this feature as well. Started with the Python SDK and wanted to reproduce a set-up in JS. Almost finished and discovered that device discovery is not part of this SDK. Would be great if you guys could add it.

[2019-05-09 05:51] imayur7 commented on #222
I do the same thing but still getting an error to me:

my issue is here #272

[2019-05-13 17:44] JonathanHenson commented on #272
I'm a bit confused by the question. This is the correct behaviour when you lose a connection.

Are you asking how to handle offline queuing?

[2019-05-14 05:57] imayur7 commented on #272
Hello, @JonathanHenson Sorry for confusion actually I need to handle this error because whenever my device gets in offline mode, I get This error after some time. And for Offline Queue I already set it to false.
 I'm sharing my DEBUB logs may be it will help. I also Included socket.io in my code.
also, you said this is correct behavior then could you please guide me to resolve this issue?
[logs.tx

[2019-05-15 05:31] imayur7 commented on #272
Thank you for the reply. issue solved after using mqtt.Client#end when Server goes offline.

[2019-05-15 05:31] #272 closed

[2019-05-21 21:31] Laudings commented on #251
I have the same issue. Are there already some new information?

[2019-05-22 16:48] justinboswell commented on #251
@Apollon77 When you hit service limits, especially within the IoT Core services, the response is almost always to hang up. I know for sure (due to our unit tests) that IoT hangs up if you break the 100 publishes/sec limit.

[2019-05-22 19:20] Apollon77 commented on #251
Thank you ... this should really not be the case, but maybe @GermanBluefox maybe introduce some kind of counters for logging purposes?

[2019-05-24 00:39] borch84 opened #273 "thingShadow.on status not showig updates"
Hi, I am running an example with thingShadow, so far I can connect to my thingShadow and get deltas updates but when there is an update to the shadow document I don't see any data coming into my console. This is the code I've been using:

[code]

When I run this node js script I can only see deltas messages, but if I update the shadow document from the console I don't get update status messages.

[2019-05-24 20:21] justinboswell commented on #273
This is expected behavior, if a bit unintuitive. When you subscribe to the delta event, you will only get the delta section of the shadow document. If you want the entire document, you will need to use [GetThingShadow](https://docs.aws.amazon.com/iot/latest/developerguide/API_GetThingShadow.html).

As for the web interface, it will only show the delta section of the document if the last command pr

[2019-05-24 20:22] #273 closed

[2019-05-28 07:09] michaelwittig opened #274 "How to handle error when calling awsIot.thingShadow#register()"
Hi,

I wonder how I have to handle an error during `awsIot.thingShadow#register()`.

[code]

It looks like, calling register again is not a good idea (no callback ever called https://github.com/aws/aws-iot-device-sdk-js/blob/master/thing/index.js#L616)

As far as I understand, even if I get an error during `register()`, the subscriptions will be made as soon as the connection is alive?

The docume

[2019-06-04 16:19] DrakkenSaer opened #275 "'Connection closed' loop after using .end()"
I have been trying to get messages to publish to any topic on IoT where I've subscribed to from the console (so I can see the messages) and added `.end()` after all messages have been published. Now it seems I am no longer able to connect with any device using the same certificate and get a `connection closed` message back on every attempt to connect.

How can this be remedied?

[2019-06-04 16:43] DrakkenSaer commented on #275
Nevermind, cert needed to be reactivated

[2019-06-04 16:43] #275 closed

[2019-06-10 18:02] typenai commented on #245
The IoT SDK will not work out of the box as a Browser script because FileSystem is a system module and it's not supported by a browser (duh!). You have to "browserify" the sdk by following the instructions there: https://github.com/aws/aws-iot-device-sdk-js#browser

[2019-06-12 09:56] klotzma commented on #251
Hei, i have the same Problem, it comes all 4 Minutes.

[2019-06-13 08:44] mevlutsahinn commented on #264
Same issue here. I have a keepAlive value of 90 seconds but still the sdk does not realize the connection is gone.

[2019-06-15 12:50] matiasdecarli commented on #264
Are you guys using Docker? I had a similar experience when running my app inside a Docker container with default network config (on a separate network). My issues disappeared when I changed to `network:host`

[Here's](https://github.com/mqttjs/MQTT.js/issues/851) the description & the solution of my issue

[2019-06-19 19:53] #266 closed

[2019-06-21 14:47] Laudings commented on #251
I and a lot more user still have the problem. Is it possible to check if it send more than 100 massages per second?

[2019-06-25 08:37] swapnilGitTest commented on #149
Hi @fengsongAWS

Do we have any workaround it, to access aws iot from corporate firewall using x.509 auth- Java client

[2019-06-26 05:35] Karsten69 commented on #251
Good morning,

until yesterday everything works fine without any issue. Until yesterday i have a internet connection from Unitymedia (Office and Internet 150) with a Fritzbox 6490 cable as modem and a Fritzbox 7490 as router.
Yesterday i became a new internet connection also from Unitymedia (2play 400) with a Unitymedia ConnectBox as modem and the Fritzbox 7490 as router, the router is the same li

[2019-06-26 18:07] justinboswell commented on #251
If you are able to establish a connection, but the connection is dropping, I would suggest opening a ticket with IoT Core support, so they can help diagnose further, as it is unlikely to be an SDK-specific issue.

[2019-06-27 20:09] Fab29-690 commented on #251
I got the same error when I changed the internet provider to unitymedia. I use also the connectbox and i have also the same connection 2play400. I think the connect box could be the issue or maybe that you have switched to a new modem ? Or its just a coincidence?

[2019-06-28 12:03] Karsten69 commented on #251
I don't believe that it is a coincidence, i can go back to the old connection with the FritzBox 6490 cable and the Office and Internet 150 to see if it works without the issue. But in the moment i can't try the new connection with a FritzBox. I try it now and write the result later.

[2019-06-28 12:28] Karsten69 commented on #251
With the old connection everything is fine i have no issues. But where is the problem? Connectbox or differences between business and normal tariff from unitymedia, any ideas?

[2019-06-28 12:35] Karsten69 commented on #251
@Fab29-690 i'am not only changing the modem, i have a complete new cable from Unitymedia, but it's in the same Street, the old connection was in my neighbors house, that's why i can switch back to the old connection so easy, this one will work till 05.08.19.

[2019-06-28 13:45] Karsten69 commented on #251
@GermanBluefox
Hi Bluefox, the issue is reproducible, i can switch between two diferent internet connections, one works without this issue, the otherone with. Will it be helpfull, that you take a look at the debug and i switch between the connections?
Regards
Karsten

[2019-06-28 14:45] Apollon77 commented on #251
Cool and interesting ... but this brings me to one conclution: It can not be the number of messages as assumed above ... because the "Iobroker instance" is the same. So it need to be an connection issue :-(
@justinboswell do yoiu have detailed contact informations for IoT Core support?

[2019-06-28 15:13] Karsten69 commented on #251
hi apollon77, let me know if you need any help or more information. I Think the problem is the ConnectBox from Unitymedia, but i'am not realy shure, and till now i can't check the new connection with a Fritzbox cable.

[2019-06-28 17:33] justinboswell commented on #251
The IoT Core service support is the same as any other AWS Service, information can be found [here](https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html). In this case, getting wire logs will help diagnose which messages are making it to the service, and which are being dropped/aborted by the network in between.

[2019-06-28 17:34] justinboswell commented on #251
Given that this is not an device SDK-specific issue, I'm closing the ticket.

[2019-06-28 17:34] #251 closed

[2019-06-28 18:49] Apollon77 commented on #251
@Karsten69 can you catch the traffic for both cases using wireshark ?

[2019-06-28 20:07] Karsten69 commented on #251
Yes but i need help. Tomorow teamviewer?
Or a few lines howto?

[2019-06-28 20:42] Karsten69 commented on #251
Hallo Ingo,

 

ich glaube wir können Deutsch sprechen :)

Ich habe gerade einen Mitschnitt gemacht vom Raspberry zum Router, allerdings nicht vom Router zum Modem, bis der Fehler aufgetreten ist.

Schau dir das mal an, wenn es das ist was du brauchst mache ich morgen noch einen Mitschnitt mit meiner alten Internetleitung.

Leider weis ich nicht wie ich den Verkehr zwischen Router und Modem mitsch

[2019-07-01 14:49] Fab29-690 commented on #251
Hallo ihr,

gibt es schon Neuigkeiten bzw. neue Erkenntnisse?

[2019-07-01 15:19] Apollon77 commented on #251
@Karsten69 Attachments werden bei email antworten von GitHub nicht übernommen. Musst Du hier hochladen ... :-(

[2019-07-01 15:35] Karsten69 commented on #251
Ah, ok. Habe mittlerweile herausgefunden wie ich den kompletten verkehr mitschneiden kann, werde es heute aber nicht mehr schaffen. Morgen werde ich dann auf beiden Leitungen mitschneiden und dann hier hochladen. Gruß Karsten

[2019-07-03 08:37] Karsten69 commented on #251
@Apollon77 Hallo Ingo, habe die Dateien fertig, kann ich dir irgendwo eine PN oder Mail schicken, würde ungern meinen ungefilterten Datenverkehr hier für alle sichtbar einstellen. Im IOBroker Forum habe ich schon gesucht aber keine Möglichkeit gefunden dir eine PN zu schicken.
Gruß Karsten